<category-detail>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'name' | translate }} * </label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="record.name"
                                   ng-change="changeStatus.markAsChanged()"
                                   ng-maxlength="30"
                                   ng-readonly="!isDraft()"
                                   required
                                   autofocus>
                        </div>
                    </div>

                    <div class="col-xs-12">
                    <div class="form-group">
                        <label> {{ 'region.create.higher.region' | translate }} * </label>
                        <name-category-combobox
                            ng-model="record.parentRegionId"
                            datas="regions"
                            ng-change="changeStatus.markAsChanged()"
                            ng-readonly="!isDraft()"
                            readonly-name="record.parent.name"
                            required>
                        </name-category-combobox>
                    </div>
                </div>

                    <div class="col-xs-12">
                    <div class="form-group">
                        <label> {{ 'advance_supervisor' | translate }} * </label>
                        <user-combobox
                            ng-model="record.advanceSupervisorId"
                            datas="advancesupervisors"
                            ng-change="changeStatus.markAsChanged()"
                            ng-readonly="!isDraft()"
                            readonly-name="record.advanceSupervisor.fullname"
                            required>
                        </user-combobox>
                    </div>
                </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} </label>
                            <name-category-combobox
                                ng-model="record.distributorId"
                                ng-readonly="!isDraft()"
                                readonly-name="record.distributor.name"
                                datas="distributors">
                            </name-category-combobox>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </section>

</category-detail>
