<basic-view class="region-hierarchy">

    <div class="row title-bar">
        <div class="col-xs-6">
            <h3> {{ title | translate }} </h3>
        </div>

        <div class="col-xs-6 title-btn-bar">

            <button id="back" class="btn btn-warning" ng-click="back()" ng-if="!isReadonly()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button class="btn btn-warning" ng-click="create()" ng-if="isReadonly()">
                <span class="fa fa-plus"></span>
            </button>

            <button class="btn btn-info" ng-click="edit()" ng-if="isReadonly()" >
                <span class="fa fa-pencil"></span>
            </button>

            <button class="btn btn-success" ng-click="enable()" ng-if="!isReadonly()">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="region-hierarchy-left col-md-6 col-sm-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{ 'region.hierarchy' | translate }}</strong>
                </div>
                <div class="panel-body">
                    <div ui-tree data-drag-enabled="false" id="tree-root">
                        <ol ui-tree-nodes data-nodrag ng-model="record">
                            <li ng-repeat="node in record" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>


        <div class="region-hierarchy-right col-md-6 col-sm-12">
            <section class="panel panel-default">
                <div class="panel-heading">

                    <strong><span class="glyphicon glyphicon-th"></span> {{ 'region.hierarchy.info' | translate }}</strong>

                </div>
                <div class="panel-body">
                    <section class="panel panel-default wrapper">
                        <form name="form">
                            <div class="max-w-md margin-auto">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label> {{ 'name' | translate }} * </label>
                                            <input type="text"
                                                   id="region-name"
                                                   class="form-control"
                                                   ng-model="info.name"
                                                   ng-change="changeStatus.markAsChanged()"
                                                   ng-maxlength="30"
                                                   ng-readonly="isReadonly() || info.creating"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label> {{ 'region.create.higher.region' | translate }} * </label>
                                            <name-category-combobox
                                                ng-model="info.parentRegionId"
                                                datas="regions"
                                                ng-change="changeStatus.markAsChanged()"
                                                ng-readonly="isReadonly()"
                                                readonly-name="info.parent.name"
                                                required>
                                            </name-category-combobox>
                                        </div>
                                    </div>

                                    <div class="col-xs-12" ng-if="isReadonly() && info.distributors.length >0">
                                        <div class="form-group">
                                            <label> {{ 'distributor' | translate }} </label>
                                            <ul ng-repeat="dis in info.distributors">
                                                <li>{{dis.name}}</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 m-t" ng-if="isReadonly()">
                                        <button class="btn btn-success w-full" ng-click="goToRegionDistributors()">
                                            {{ 'region.distributors' |  translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </section>

        </div>
    </div>
</basic-view>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content " ng-class="active" ng-click="chooseRegion(node)">
    <span data-ng-show="node.children.length > 0">
        <a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
        <span class="angular-ui-tree-icon-collapse"
              ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"/>
        </a>
    </span>
        {{node.name}}
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

