.page-signin:before {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	content: "";
	position: absolute;
	background-color: #fff;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-ms-background-size: auto auto;
	background-size: auto auto;
	z-index: -1;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.page-signin {
	display: table;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}

.page-signin:first-child {
	margin-left: 0;
}

.page-signin .main-body {
	display: table-cell;
	vertical-align: middle;
	border: none !important;
	width: 100%;
}

.page-signin .overlay {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65);
	border: 1px solid #fff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	-webkit-background-clip: padding-box;
	-ms-background-clip: padding-box;
	background-clip: padding-box;
	width: 100%;
	height: 100%;
	display: inline-block;
	margin: auto !important;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 99;
}

.page-signin .shadow {
	-webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 0 15px 5px #000;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 15px 5px #000;
}

.page-signin .form-container {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-ms-background-size: auto auto;
	background-size: auto auto;
	position: relative;
	z-index: 999;
}

.page-signin .form-container img.logo {
	width: 90%;
}

.page-signin .form-horizontal {
	position: relative;
	z-index: 999;
	padding: 50px;
	margin-bottom: 100px;
}

.page-signin .input-group-addon {
	border: none;
	background: transparent;
	color: #fff;
	position: relative;
	z-index: 100;
}

.page-signin .form-control {
	background: transparent;
	border-color: #fff;
	color: #fff;
	position: absolute !important;
	left: 0;
	padding-left: 50px !important;
}

.page-signin .form-control:focus {
	border-color: #fff;
	outline: 0;
}

.page-signin .form-control::-webkit-input-placeholder {
	color: #fff;
	color: rgba(255, 255, 255, 0.87);
}

.page-signin .form-control:-moz-placeholder {
	color: #fff;
	color: rgba(255, 255, 255, 0.87);
}

.page-signin .form-control::-moz-placeholder {
	color: #fff;
	color: rgba(255, 255, 255, 0.87);
}

.page-signin .form-control:-ms-input-placeholder {
	color: #fff;
	color: rgba(255, 255, 255, 0.87);
}

.page-signin .btn-login {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.54);
	border-color: #fff;
	color: #fff;
	color: rgba(255, 255, 255, 0.87);
}

.page-signin .btn-login:hover {
	color: #fff;
}

.page-signin .language-container {
	position: absolute;
	bottom: 10px;
	margin: 0 auto !important;
	left: 0;
	right: 0;
}

.page-signin img.flag {
	width: auto;
	height: auto;
	padding: 1px;
	border: solid 1px #fff;
	border: solid 1px rgba(255, 255, 255, 0.26);
	margin: 5px;
	max-height: 36px;
	-webkit-filter: grayscale(54%);
	-moz-filter: grayscale(26%);
	-o-filter: grayscale(26%);
	filter: grayscale(26%);
}

.page-signin img.flag:hover, img.flag.active {
	border: solid 1px #fff;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
	cursor: pointer;
}

.page-signin input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px #555 inset;
	/* Change the color to your own background color */
	-webkit-text-fill-color: white;
}

.page-signin input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px #555 inset;
	-webkit-text-fill-color: white;
}

.page-signin ::selection {
	background: #000;
	color: #fff;
}

.page-signin ::-moz-selection {
	background: #000;
	color: #fff;
}