<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!isProcessing() || isError())}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro" style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar" style="height: 56px;" ng-if="distributors.length > 0">
            <button type="button" class="btn btn-danger" ng-click="refresh()" ng-show="isChanged">
                <span class="fa fa-remove"></span>
            </button>

            <button type="button" class="btn btn-success" ng-click="save()" ng-show="isChanged">
                <span class="fa fa-save"></span>
            </button>

            <a ui-sref="import-schedule({ parentFilter: getFilterAsString() })" class="btn btn-linkedin">
                <span class="fa fa-file-excel-o"></span>
            </a>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">

        <div class="padding-default no-bottom" ng-if="distributors.length == 0">
            <div class="row">
                <div class="col-sm-6">
                    <strong style="line-height: 34px;"> {{ 'customer.schedule.no.distributor' | translate }} </strong>
                </div>
            </div>
            <br/>
        </div>

        <div ng-if="distributors.length > 0">

            <div class="padding-default no-bottom">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <label> {{ 'customer.schedule.distributor' | translate }} </label>
                        <ui-select ng-model="filter.currentDistributorId" on-select="changeDistributor()" ng-disabled="editingMode">
                            <ui-select-match placeholder="--">{{$select.selected.code}} - {{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="data.id as data in distributors | propsFilter: {name: $select.search, code: $select.search}">
                                <div> {{ data.name }} </div>
                                <small>
                                    {{'code' | translate}}:
                                </small>
                                <small> {{ data.code }} </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <label> {{ 'customer.schedule.schedule' | translate }} </label>
                        <ui-select ng-model="filter.currentRouteId" on-select="refresh()" ng-disabled="editingMode">
                            <ui-select-match placeholder="--">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="data.id as data in routeFilters | propsFilter: { name: $select.search }">
                                <div> {{ data.name }} </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <label> {{ 'customer.schedule.customer' | translate }} </label>
                        <vt-search-box ng-model="filter.searchText" ng-change="refresh()"
                                       placeholder="{{ 'customer.schedule.search.customer' | translate }}"
                                       style="display: block;"
                                       ng-disabled="editingMode"></vt-search-box>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <label> {{ 'customer.schedule.day' | translate }} </label>
                        <ui-select ng-model="filter.currentDay" on-select="refresh()" ng-disabled="editingMode">
                            <ui-select-match placeholder="--">{{ $select.selected.name | translate }}</ui-select-match>
                            <ui-select-choices repeat="data.value as data in dayOfWeeks | propsFilter: { name: $select.search }">
                                <div> {{ data.name | translate }} </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <label> {{ 'customer.schedule.search.item.per.page' | translate }} </label>
                        <ui-select ng-model="filter.itemsPerPage" on-select="refresh()" ng-disabled="editingMode">
                            <ui-select-match placeholder="--">{{ $select.selected }}</ui-select-match>
                            <ui-select-choices repeat="data in itemsPerPageOptions | filter: $select.search">
                                <div> {{ data }} </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-2 col-xs-12 text-right">
                        <div class="text-left pull-right" style="width: 55px; margin: 0px;">
                            <label>{{ 'customer.schedule.editing.mode' | translate }}</label>
                            <div>
                                <label class="switch no-select" style="height: 30px; margin: 2px 0px;">
                                    <input type="checkbox" checked ng-model="editingMode" ng-change="modeChange()">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding-default no-bottom"
                 ng-if="(records == null || records.length == 0)
                 && filter.currentRouteId == null
                 && (filter.searchText == null || filter.searchText.length == 0)">
                <div class="row">
                    <div class="col-sm-6">
                        <strong style="line-height: 34px;"> {{ 'customer.schedule.no.customer' | translate }} </strong>
                    </div>
                </div>
                <br/>
            </div>

            <div class="padding-default no-select" ng-if="records.length > 0
                || filter.currentRouteId != null
                || (filter.searchText != null && filter.searchText.length > 0)">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-responsive table-middle">
                            <thead>
                            <tr>
                                <th rowspan="2" style="vertical-align: middle; text-align: center;">
                                    {{ 'customer.schedule.customer' | translate}}
                                </th>
                                <th rowspan="2" style="vertical-align: middle; text-align: center;">
                                    {{ 'customer.schedule.schedule' | translate}}
                                </th>
                                <th colspan="7" style="vertical-align: middle; text-align: center;">
                                    {{ 'customer.schedule.days' | translate }}
                                </th>
                                <th ng-attr-colspan="{{numberWeekFrequency}}" style="vertical-align: middle; text-align: center; background-color: #f3f3f3;" ng-if="numberWeekFrequency > 1">
                                    {{ 'customer.schedule.week.frequency' | translate }}
                                </th>
                                <th rowspan="2" style="width: 65px;" ng-if="clientConfig.complexSchedule"></th>
                            </tr>
                            <tr>
                                <td style="width: 41px;">
                                    {{ 'T2' | translate}}
                                </td>
                                <td style="width: 41px;">
                                    {{ 'T3' | translate}}
                                </td>
                                <td style="width: 41px;">
                                    {{ 'T4' | translate}}
                                </td>
                                <td style="width: 41px;">
                                    {{ 'T5' | translate}}
                                </td>
                                <td style="width: 41px;">
                                    {{ 'T6' | translate}}
                                </td>
                                <td style="width: 41px;">
                                    {{ 'T7' | translate}}
                                </td>
                                <td style="width: 41px;">
                                    {{ 'CN' | translate}}
                                </td>
                                <td ng-repeat="week in weeks" style="width: 41px; background-color: #f3f3f3;" ng-if="numberWeekFrequency > 1">
                                    {{ week.label }}
                                </td>
                            </tr>

                            </thead>

                            <tbody>
                                <tr ng-repeat="customerSchedule in records">
                                    <td style="vertical-align: baseline;">
                                        {{ customerSchedule.name }}
                                    </td>
                                    <td style="vertical-align: baseline;">
                                        <ui-select ng-model="customerSchedule.routeId" on-select="markAsChanged()" ng-disabled="!editingMode">
                                            <ui-select-match placeholder="--">{{ $select.selected.name }}</ui-select-match>
                                            <ui-select-choices repeat="data.id as data in routes | propsFilter: { name: $select.search }">
                                                <div> {{ data.name }} </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isMonday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isTuesday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isWednesday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isThursday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isFriday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isSaturday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.isSunday" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <!--week-->
                                    <td style="padding: 0px; background-color: #f3f3f3;" ng-repeat="week in weeks" ng-if="numberWeekFrequency > 1">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <vt-checkbox ng-model="item.weekFrequencys[week.index].selected" ng-change="markAsChanged()" ng-disabled="!editingMode"></vt-checkbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="padding: 0px;" ng-if="clientConfig.complexSchedule">
                                        <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                            <tr ng-repeat="item in customerSchedule.items">
                                                <td ng-class="{borderless: $first}">
                                                    <button class="btn btn-danger btn-icon-xs" style="border: none; width: 20px; height: 20px;"
                                                            ng-click="clearCustomerScheduleItem(customerSchedule, item)"
                                                            ng-disabled="!editingMode">
                                                        <span class="fa fa-remove"></span>
                                                    </button>
                                                    <button class="btn btn-success btn-icon-xs" style="border: none; width: 20px; height: 20px;"
                                                            ng-click="addNewItem(customerSchedule)"
                                                            ng-disabled="!editingMode">
                                                        <span class="fa fa-plus"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <footer class="table-footer" ng-hide="editingMode">
                            <div class="row">
                                <div class="col-md-6 page-num-info">
                                </div>
                                <div class="col-md-6 text-right pagination-container">
                                    <pagination class="pagination" boundary-links="true"
                                                total-items="filter.totalItems"
                                                max-size="filter.maxSize"
                                                items-per-page="filter.itemsPerPage"
                                                ng-model="filter.currentPage"
                                                class="pagination-sm"
                                                previous-text="&lsaquo;"
                                                next-text="&rsaquo;"
                                                first-text="&laquo;"
                                                last-text="&raquo;"
                                                ng-change="refresh()"
                                                style="float: right"></pagination>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
