<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <h3> {{'dashboard.visit.title' | translate }} </h3>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-info" ng-click="refresh()" style="margin: 11px 0px; float: right;">
                <span class="fa fa-refresh"></span>
                <!--{{ 'refresh' |  translate }}-->
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-code-fork"></i>
                </span>

                <div class="box-info">
                    <p class="size-h2">
                        {{data.numberVisits.actual}}/{{data.numberVisits.plan}} <span
                            class="size-h4">({{data.numberVisits.percentage}}%)</span></p>

                    <p class="text-muted"><span> {{ 'dashboard.visit.number.visit' | translate }} </span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-clock-o"></i>
                </span>

                <div class="box-info">
                    <p class="size-h2">{{data.numberVisitErrorDuration}}</p>
                    <p class="text-muted"><span> {{ 'dashboard.visit.number.visit.error.time' | translate }} </span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-map-marker"></i>
                </span>

                <div class="box-info">
                    <p class="size-h2">{{data.numberVisitErrorPosition}}</p>
                    <p class="text-muted"><span> {{ 'dashboard.visit.number.visit.error.position' | translate }} </span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <div style="margin: 8px 0px;">
                        <strong><span class="glyphicon glyphicon-th"></span> {{ 'dashboard.visit.table.title' | translate }}</strong>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-4" style="text-align: right; line-height: 34px;" ng-if="salesmen.length > 0">
                    <label style="margin: 0px;"> {{ 'dashboard.visit.salesman' | translate }} </label>
                </div>
                <div class="col-sm-4 col-xs-8" ng-if="salesmen.length > 0">
                    <ui-select class="ui-select-white" ng-model="global.currentSalesmanId" on-select="changeSalesman($item)">
                        <ui-select-match placeholder="--">{{ $select.selected.fullname }}</ui-select-match>
                        <ui-select-choices
                                repeat="data.id as data in salesmen | propsFilter: { fullname: $select.search }">
                            <div> {{ data.fullname }} </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <table class="table table-middle" ng-class="{'table-hover hover-underline': (data.visits.length > 0)}">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    {{ 'dashboard.visit.salesman' | translate}}
                </th>
                <th>
                    {{ 'dashboard.visit.customer' | translate}}
                </th>
                <th style="width: 185px">
                    {{ 'dashboard.visit.duration' | translate }}
                </th>
                <th>
                    {{ 'dashboard.visit.status' | translate }}
                </th>
                <th>
                    {{ 'dashboard.visit.distance' | translate }}
                </th>
                <th>
                    {{ 'dashboard.visit.grand.total' | translate }}
                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-if="salesmen.length == 0">
                <td colspan="8"> {{'dashboard.visit.no.salesman' | translate }} </td>
            </tr>
            <tr ng-if="salesmen.length > 0 && (data == null || data.visits == null || data.visits.length == 0)">
                <td colspan="8"> {{'dashboard.visit.empty' | translate }} </td>
            </tr>
            <tr ng-repeat="visit in displayData track by $index" ng-click="viewDetail(visit.id)">
                <td>
                    {{ ((currentPage - 1) * itemsPerPage) + $index + 1 }}
                </td>
                <td>
                    {{ visit.salesman.fullname }}
                </td>
                <td>
                    {{ visit.customer.name }}
                </td>
                <td style="text-decoration: none;">
                    <div>
                        <span class="color-danger" ng-if="visit.errorDuration">
                            <i class="fa fa-warning"></i>
                        </span>
                        <span class="color-success" ng-if="!visit.errorDuration">
                            <i class="fa fa-thumbs-up"></i>
                        </span>
                        {{ getDurationFormat(visit.duration) }}
                    </div>

                    {{ getStartEndTime(visit) }}
                </td>
                <td style="text-decoration: none;">
                    <span class="label label-danger" ng-if="visit.closed">{{ 'dashboard.visit.status.closed' | translate }}</span>
                    <span class="label label-info" ng-if="!visit.closed">{{ 'dashboard.visit.status.normal' | translate }}</span>
                </td>
                <td ng-if="visit.distance != null">
                    <span class="color-danger" ng-if="visit.locationStatus != locationStatus.LOCATION_STATUS_LOCATED">
                        <i class="fa fa-warning"></i>
                    </span>

                    <span class="color-success" ng-if="visit.locationStatus == locationStatus.LOCATION_STATUS_LOCATED">
                        <i class="fa fa-thumbs-up"></i>
                    </span>
                    {{ getDistanceDisplay(visit.distance) }}
                </td>
                <td ng-if="visit.distance == null" style="text-decoration: none">
                    <span class="label label-danger">{{ getDistanceDisplay(visit.distance) }}</span>
                </td>
                <td ng-if="visit.hasOrder && visit.approveStatus == approveStatus.APPROVE_STATUS_APPROVED" style="text-align: right">
                    {{ visit.grandTotal | number }}
                </td>
                <td ng-if="visit.hasOrder && visit.approveStatus == approveStatus.APPROVE_STATUS_PENDING" style="text-decoration: none;; text-align: right">
                    <span class="label label-info">{{ 'dashboard.visit.purchase.order.pending' | translate }}</span>
                </td>
                <td ng-if="visit.hasOrder && visit.approveStatus == approveStatus.APPROVE_STATUS_REJECTED" style="text-decoration: none;; text-align: right">
                    <span class="label label-danger">{{ 'dashboard.visit.purchase.order.rejected' | translate }}</span>
                </td>
                <td ng-if="!visit.hasOrder" style="text-decoration: none;; text-align: right">
                    <span class="label label-warning">{{ 'dashboard.visit.no.purchase.order' | translate }}</span>
                </td>
            </tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right"
                                boundary-links="true" total-items="totalItems"
                                max-size="maxSize" items-per-page="itemsPerPage" ng-model="currentPage"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="pageChanged()" style="float: right"></pagination>
                </div>
            </div>
        </footer>
    </div>
</div>
