<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row homepage-supervisor">
        <div class="dashboard-left col-md-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-box info-box bg-orange">
                        <div class="box-info center-block">
                            <p class="size-h4 mg_10">{{ 'homepage.purchase.order' | translate }}&nbsp;/&nbsp;{{ 'homepage.day' | translate }}</p>

                            <div class="row mg_0">
                                <i class="fa size-h1"
                                   ng-class="getComparisonIcon(data.orderByDayThisMonth, data.orderByDayLastMonth)">
                                </i>
                                <label class="size-h1 mg_left_10">{{ data.orderByDayThisMonth | bigNumber }}</label>
                            </div>
                            <p class="mg_0">
                                {{ 'homepage.last.month' | translate }}&nbsp;
                                <label class="size-h3">
                                    {{ data.orderByDayLastMonth | bigNumber }}
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-box info-box bg-success">
                        <div class="box-info center-block">
                            <p class="size-h4 mg_10">
                                {{ 'homepage.revenue' | translate }}&nbsp;/&nbsp;{{ 'homepage.purchase.order' | translate }}
                            </p>
                            <div class="row mg_0">
                                <i class="fa size-h1"
                                   ng-class="getComparisonIcon(data.revenueByOrderThisMonth, data.revenueByOrderLastMonth)">
                                </i>
                                <label class="size-h1 mg_left_10">{{ (data.revenueByOrderThisMonth) | bigNumber}}</label>
                            </div>
                            <p class="mg_0">
                                {{ 'homepage.last.month' | translate }}&nbsp;
                                <label class="size-h3">
                                    {{ (data.revenueByOrderLastMonth ) | bigNumber }}
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-box info-box bg-info">
                        <div class="box-info center-block">
                            <p class="size-h4 mg_10">
                                {{ 'homepage.visit' | translate }}&nbsp;/&nbsp;{{ 'homepage.day' | translate }}
                            </p>

                            <div class="row mg_0">
                                <i class="fa size-h1"
                                   ng-class="getComparisonIcon(data.nbVisitByDayThisMonth, data.nbVisitByDayLastMonth)">
                                </i>
                                <label class="size-h1 mg_left_10">{{ data.nbVisitByDayThisMonth | bigNumber}}</label>
                            </div>
                            <p class="mg_0">
                                {{ 'homepage.last.month' | translate }}&nbsp;
                                <label class="size-h3">
                                    {{ data.nbVisitByDayLastMonth | bigNumber }}
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-box">
                        <div class="panel-left panel-item bg-primary">
                            <i class="fa fa-dollar text-huge"></i>
                            <p class="size-h1" style="margin-top: 10px;">{{ 'homepage.revenue' | translate }}</p>
                        </div>
                        <div class="panel-right panel-item bg-reverse">
                            <div class="size-h1 color-primary text-left">
                                {{
 data.revenueThisMonth | number:0
                                }}
                            </div>
                            <div style="height: 1px; margin: 20px 0;" class="bg-primary-light"></div>
                            <div class="size-h2 text-right">{{ data.revenueTargetThisMonth | number:0 }}</div>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-bright">
                            <div class="size-h3 text-left">
                                {{ 'homepage.worst.five.salesman' | translate }}
                            </div>
                        </div>
                        <div class="panel-icon bg-danger">
                            <i class="fa fa-exclamation"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <ul class="list-group text-left">
                                <li class="list-group-item" ng-repeat="salesman in data.worst5salesmen">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <p class="size-h4">{{salesman.fullname}}</p>
                                            <progressbar max="salesman.plan" value="salesman.actual"
                                                         class="vt-progressbar" type="danger">
                                                <span>{{salesman.actual | number:0}} / {{salesman.plan | number:0}}</span>
                                            </progressbar>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="badge bg-reverse size-h3 pull-right color-danger" style="line-height: 40px !important; font-weight: normal;">{{salesman.percentage}}%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-box">
                        <div class="panel-top bg-bright">
                            <div class="size-h3 text-left">
                                {{ 'homepage.top.five.product' | translate }}
                            </div>
                        </div>
                        <div class="panel-icon bg-warning">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="panel-bottom bg-reverse">
                            <ul class="list-group text-left">
                                <li class="list-group-item" ng-repeat="product in data.top5products">
                                    <div class="row" style="height: 46px; position: relative;">
                                        <div class="col-xs-8" style="position: absolute; bottom: 0;">
                                            <p class="size-h4 product-name">{{product.name}}</p>
                                        </div>

                                        <div class="col-xs-4" style="position: absolute; bottom: 0; right: 0;">
                                            <span class="badge badge-warning size-h4 pull-right" style="font-weight: normal;">{{ product.quantity | bigNumber }}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="dashboard-right col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-bg-violet">
                    <p class="size-h4 mg_0 pull-left">{{ 'homepage.today' | translate }}</p>

                    <p class="size-h4 mg_0 pull-right">{{ today() }}</p>

                    <div class="clear"></div>
                </div>
                <div class="panel-body">
                    <div class="mini-box">
                        <span class="box-icon bg-facebook">
                            <i class="fa fa-dollar"></i>
                        </span>

                        <div class="box-info">
                            <p class="size-h2"> {{ data.revenueToday | bigNumber}} </p>

                            <p class="text-muted">{{ 'homepage.revenue' | translate }}</p>
                        </div>
                    </div>
                    <div class="mini-box">
                        <span class="box-icon bg-google-plus">
                            <i class="fa fa-street-view"></i>
                        </span>

                        <div class="box-info">
                            <p class="size-h2">{{ data.nbVisit | number : 0 }} / {{ data.nbVisitPlanned | number : 0 }}</p>

                            <p class="text-muted"> {{ 'homepage.number.visit' | translate }} </p>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge color-success">{{ data.nbVisitHasOrder }}</span>

                            <p>{{ 'homepage.visit.has.po' | translate }}</p>
                            <i class="fa fa-truck color-success"></i>
                        </li>
                        <li class="list-group-item">
                            <span class="badge color-info">{{ data.nbOrderNoVisit }}</span>

                            <p>{{ 'homepage.po.no.visit' | translate }}</p>
                            <i class="fa fa-hand-o-right color-info"></i>
                        </li>
                        <li class="list-group-item">
                            <span class="badge color-danger">{{ data.nbVisitErrorTime }}</span>

                            <p>{{ 'homepage.visit.error.duration' | translate }}</p>
                            <i class="fa fa-clock-o color-danger"></i>
                        </li>
                        <li class="list-group-item">
                            <span class="badge color-gray">{{ data.nbVisitErrorPosition }}</span>

                            <p>{{ 'homepage.visit.error.position' | translate }}</p>
                            <i class="fa fa-location-arrow color-gray"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
