<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'report.visit.monthly.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
                <!--{{ 'refresh' | translate }}-->
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="padding-default">
            <form name="form">
                <div style="max-width: 400px; margin: auto;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> {{ 'report.visit.monthly.from.date' | translate }} </label>

                                <p class="input-group" style="margin: 0px">
                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                                           ng-model="global.fromDate.date" is-open="global.fromDate.opened"
                                           datepicker-options="{startingDay: 1}" ng-required="true"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, global.fromDate)"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> {{ 'report.visit.monthly.to.date' | translate }} </label>

                                <p class="input-group" style="margin: 0px">
                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"
                                           ng-model="global.toDate.date" is-open="global.toDate.opened"
                                           datepicker-options="{startingDay: 1}" ng-required="true"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, global.toDate)"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                </p>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label> {{ 'report.visit.monthly.salesman' | translate }} </label>
                                <ui-select ng-model="global.currentSalesmanId" required>
                                    <ui-select-match
                                            placeholder="{{ 'report.visit.monthly.please.select.salesman' | translate }}">
                                        {{ $select.selected.fullname }}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="data.id as data in salesmen | propsFilter: { fullname: $select.search }">
                                        <div> {{ data.fullname }} </div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" ng-click="report()" style="float: right;">
                                <span class="fa fa-line-chart"></span>
                                {{ 'report.salesman.sale.monthly.report' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
