<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-8">
            <h3> {{ surveyResult.name }} </h3>
        </div>

        <div class="col-sm-4 title-btn-bar">
            <div class="pull-right">
                <button type="button" class="btn btn-warning" ng-click="back()">
                    <span class="fa fa-arrow-left"></span>
                    <!--{{ 'refresh' | translate }}-->
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4" ng-repeat="question in surveyResult.questions track by $index">
            <div class="panel panel-default">
                <div class="panel-heading" style="min-height: 51px;">
                    <h3 class="panel-title">{{question.name}}</h3>
                </div>
                <div class="panel-body">
                    <div flot-chart
                         data="question.data"
                         options="question.option"
                         style="width: 100%; height: 150px;"
                            ></div>
                </div>
            </div>
        </div>
    </div>

</div>
