<div class="page page-table ng-scope">
    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-12 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <!--{{ 'back' | translate }}-->
            </button>

            <button type="button" class="btn btn-default" ng-click="printReport()">
                <span class="fa fa-print"></span>
                <!--{{ 'report.salesman.sale.monthly.detail.print' | translate }}-->
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div id="report" class="padding-default">
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <h3>{{ 'report.visit.monthly.detail.title' | translate }}</h3>
                    <h4>{{ getDateDisplay() }}</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <table class="table table-bordered table-striped table-responsive table-middle">
                        <colgroup>
                        <colgroup>
                        <colgroup span="2">
                        <colgroup span="2">
                        <colgroup span="3">
                        <thead>
                        <tr>
                            <th scope="col" rowspan="2">
                                {{ 'report.visit.monthly.detail.customer' | translate}}
                            </th>
                            <th scope="col" rowspan="2" class="text-center">
                                {{ 'report.visit.monthly.detail.visit.plan' | translate}}
                            </th>
                            <th scope="colgroup" colspan="2" class="text-center">
                                {{ 'report.visit.monthly.detail.visit' | translate }}
                            </th>
                            <th scope="colgroup" colspan="2" class="text-center">
                                {{ 'report.visit.monthly.detail.visit.time' | translate }}
                            </th>
                            <th scope="colgroup" colspan="3" class="text-center">
                                {{ 'report.visit.monthly.detail.visit.position' | translate }}
                            </th>
                        </tr>
                        <tr>
                            <th scope="col"  class="text-center">
                                {{ 'report.visit.monthly.detail.visit.visited' | translate}}
                            </th>
                            <th scope="col"  class="text-center">
                                {{ 'report.visit.monthly.detail.visit.closed' | translate}}
                            </th>
                            <th scope="col"  class="text-center">
                                {{ 'report.visit.monthly.detail.visit.no.error.time' | translate}}
                            </th>
                            <th scope="col"  class="text-center">
                                {{ 'report.visit.monthly.detail.visit.error.time' | translate}}
                            </th>
                            <th scope="col"  class="text-center">
                                {{ 'report.visit.monthly.detail.visit.in.range' | translate}}
                            </th>
                            <th scope="col"  class="text-center">
                                {{ 'report.visit.monthly.detail.visit.out.range' | translate}}
                            </th>
                            <th class="text-center">
                                {{ 'report.visit.monthly.detail.visit.unlocated' | translate}}
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="record in records">
                            <td class="text-left">
                                {{ record.customer }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitPlan }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisited | number:0 }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitClosed }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitNoErrorTime }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitErrorTime }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitInRange }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitOutRange }}
                            </td>
                            <td class="text-right">
                                {{ record.numberVisitUnlocated }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
