<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ 'report.survey.list.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                        {{ 'report.survey.list.list' | translate }}
                    </strong>
                </div>
            </div>
        </div>

        <table class="table table-middle">
            <thead>
            <tr>
                <th class="text-center">
                    #
                </th>
                <th>
                    {{ 'report.survey.list.content' | translate}}
                </th>
                <th class="text-center">
                    {{ 'report.survey.list.date' | translate}}
                </th>
                <th class="text-center">
                    {{ 'report.survey.list.status' | translate}}
                </th>
                <th style="width: 100px">

                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="survey in tableCtrl.records track by $index">
                <td class="text-center">
                    {{ $index + 1 }}
                </td>
                <td>
                    {{ survey.name }}
                </td>
                <td class="text-center">
                    {{ getDateDisplay(survey) }}
                </td>
                <td class="text-center">
                    <span class="label label-warning" ng-if="survey.dateStatus == 0">
                        {{ 'report.survey.list.status.before.process' | translate }}
                    </span>
                    <span class="label label-info" ng-if="survey.dateStatus == 1">
                        {{ 'report.survey.list.status.processing' | translate }}
                    </span>
                    <span class="label label-success" ng-if="survey.dateStatus == 2">
                        {{ 'report.survey.list.status.processed' | translate }}
                    </span>
                </td>
                <td class="text-center">
                    <button class="btn btn-success btn-icon-xs" ng-click="export(survey)">
                        <span class="fa fa-file-excel-o"></span>
                    </button>

                    <button class="btn btn-info btn-icon-xs" ng-click="viewDetail(survey)">
                        <span class="fa fa-pie-chart"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true"
                                total-items="totalItems" max-size="maxSize" items-per-page="itemsPerPage"
                                ng-model="currentPage" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                first-text="&laquo;" last-text="&raquo;"
                                ng-change="tableCtrl.pageChanged()" style="float: right"></pagination>
                </div>
            </div>
        </footer>

    </div>
</div>
