<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'sales.report.distributor.title' | translate }} - {{ global.monthDisplay }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default" ng-if="chart != null">
        <div class="panel-body">
            <div data-flot-chart
                 data-data="chart.data"
                 data-options="chart.options"
                 style="width: 100%; height: 300px;">
            </div>
        </div>
    </section>

    <section class="panel panel-default">
        <div class="panel-body">
            <table class="table table-middle table-striped">
                <thead>
                <tr>
                    <th>
                        {{ 'sales.report.distributor' | translate }}
                    </th>
                    <th class="text-right">
                        {{ 'sales.report.revenue' | translate }}
                    </th>
                    <th class="text-right">
                        {{ 'sales.report.number.order' | translate }}
                    </th>
                    <th class="text-right">
                        {{ 'sales.report.number.customer' | translate }}
                    </th>
                    <th class="text-right">
                        {{ 'sales.report.number.salesman' | translate }}
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="record in records">
                    <td>
                        {{ record.name }}
                    </td>
                    <td class="text-right">
                        {{ record.revenue | number : 0 }}
                    </td>
                    <td class="text-right">
                        {{ record.nbOrder | number : 0 }}
                    </td>
                    <td class="text-right">
                        {{ record.nbCustomer | number : 0 }}
                    </td>
                    <td class="text-right">
                        {{ record.nbSalesman | number : 0 }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>