<basic-view class="import-view">

    <div class="row title-bar">
        <div class="col-sm-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">

        <div class="wizard">
            <div class="row">
                <div class="col-xs-3" ng-repeat="step in steps">
                    <div class="wizard-element" ng-class="{done: isDoneStep($index), current: isCurrentStep($index)}">
                        {{ ($index + 1) }}.&nbsp;{{ step.name | translate }}
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <form name="form">
            <div ng-if="currentStep == 0">
                <div class="row">
                    <div class="col-xs-12">
                        <label> {{ 'import.step.upload.file' | translate }} </label>
                        <single-file
                            ng-model="global.excel"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            required>
                        </single-file>
                    </div>

                    <div class="col-xs-12">
                        <a class="btn btn-tumblr" ng-href="{{ getTemplateLink() }}" style="margin-top: 15px;">
                            <span class="fa fa-file-excel-o"></span>
                            {{ 'import.download.template' | translate }}
                        </a>
                    </div>
                </div>
            </div>

            <div ng-if="currentStep == 1">
                <div class="row">
                    <div class="col-xs-12" ng-if="global.confirm.rowDatas == null || global.confirm.rowDatas.length == 0">
                        <div class="mini-box">
                                <span class="box-icon bg-success">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </span>

                            <div class="box-info">
                                <p class="size-h2"> {{ global.confirm.total }} </p>
                                <p class="text-muted">{{ 'import.record.to.import' | translate }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="global.confirm.rowDatas.length > 0">
                        <div class="mini-box">
                                <span class="box-icon bg-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </span>

                            <div class="box-info">
                                <p class="size-h2"> {{ global.confirm.rowDatas.length }}&nbsp;/&nbsp;{{ global.confirm.total }} </p>
                                <p class="text-muted">{{ 'import.record.to.import.error' | translate }}</p>
                            </div>
                        </div>

                        <table class="table table-bordered table-middle text-center table-striped">
                            <thead>
                            <tr>
                                <th rowspan="2" class="text-center">
                                    {{ 'import.row.in.excel' | translate }}
                                </th>
                                <th colspan="6" class="text-center">
                                    {{ 'import.error' | translate }}
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center">
                                    {{ 'code' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'name' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'product.category' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'uom.short' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'product.price' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'product.productivity' | translate }} &nbsp; ({{ getProductivityUnit() }})
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="rowError in global.confirm.rowDatas">
                                <td>
                                    {{ rowError.rowNumber }}
                                </td>
                                <td ng-class="{'color-danger' : rowError.errors[0]}">
                                    {{ getRowErrorData(rowError.dataTexts[0]) }}
                                </td>
                                <td ng-class="{'color-danger' : rowError.errors[1]}">
                                    {{ getRowErrorData(rowError.dataTexts[1]) }}
                                </td>
                                <td ng-class="{'color-danger' : rowError.errors[2]}">
                                    {{ getRowErrorData(rowError.dataTexts[2]) }}
                                </td>
                                <td ng-class="{'color-danger' : rowError.errors[3]}">
                                    {{ getRowErrorData(rowError.dataTexts[3]) }}
                                </td>
                                <td ng-class="{'color-danger' : rowError.errors[4]}">
                                    {{ getRowErrorData(rowError.dataTexts[4]) }}
                                </td>
                                <td ng-class="{'color-danger' : rowError.errors[5]}">
                                    {{ getRowErrorData(rowError.dataTexts[5]) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-if="currentStep == 2">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-middle text-center table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    {{ 'import.row.in.excel' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'code' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'name' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'product.category' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'uom.short' | translate }}
                                </th>
                                <th class="text-center">
                                    {{ 'product.price' | translate }}
                                </th>
                                <th class="text-center" style="width: 100px">
                                    {{ 'product.photo' | translate }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in global.data.rowDatas">
                                <td>
                                    {{ row.rowNumber }}
                                </td>
                                <td>
                                    {{ row.dataTexts[0] }}
                                </td>
                                <td>
                                    {{ row.dataTexts[1] }}
                                </td>
                                <td>
                                    {{ row.dataTexts[2] }}
                                </td>
                                <td>
                                    {{ row.dataTexts[3] }}
                                </td>
                                <td>
                                    {{ row.dataTexts[4] }}
                                </td>
                                <td>
                                    <single-image class="mini-display" ng-model="global.photos[$index]"
                                                  size-type="standard"
                                                  required>
                                    </single-image>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-if="currentStep == 3">
                <div class="col-xs-12">
                    <h4> {{ 'distributor' | translate}}:&nbsp;{{ global.distributorName }} </h4>
                    <hr/>
                </div>

                <div class="col-xs-12">
                    <div class="mini-box">
                                <span class="box-icon bg-info">
                                    <i class="fa fa-info"></i>
                                </span>

                        <div class="box-info">
                            <p class="size-h2"> {{ global.result.success }}&nbsp;/&nbsp;{{ global.result.total }} </p>
                            <p class="text-muted">{{ 'import.record.has.imported' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <hr/>

        <div class="row">
            <div class="col-xs-12 text-right">
                <button class="btn btn-warning" ng-if="canBack()" ng-click="backStep()">
                    {{ 'import.back' | translate }}
                </button>
                <button class="btn btn-primary" ng-if="canNext()" ng-disabled="isNextDisabled()" ng-click="nextStep()">
                    {{ 'import.next' | translate }}
                </button>
                <button class="btn btn-success" ng-if="isFinish()" ng-click="finish()">
                    {{ 'import.finish' | translate }}
                </button>
            </div>
        </div>

    </section>

</basic-view>
