<header class="clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/" class="no-effect">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-min-nav
                             class="toggle-min">
                    <i class="fa fa-bars"></i>
                </a>
            </li>

            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle"  data-toggle="dropdown">
                    <img src="images/user.png" alt="" class="img-circle img30_30">
                    <span> {{ getUsername() }} </span>
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow">
                    <li>
                        <a href="#/change-password">
                            <i class="fa fa-lock"></i>
                            <span> {{ 'change.password' | translate }} </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown langs text-normal">
                <a href="javascript:;" class="dropdown-toggle active-flag" data-toggle="dropdown">
                    <div class="flag {{ getFlag() }}"></div>
                </a>
                <ul class="dropdown-menu dropdown-dark with-arrow list-langs" role="menu">
                    <li data-ng-show="lang !== 'vi' ">
                        <a href="javascript:;" data-ng-click="setLang('vi')"><div class="flag flags-vietnam"></div> Tiếng Việt</a></li>
                    <li data-ng-show="lang !== 'en' ">
                        <a href="javascript:;" data-ng-click="setLang('en')"><div class="flag flags-british"></div> English</a></li>
                    <!--<li data-ng-show="lang !== 'Español' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('Español')"><div class="flag flags-spain"></div> Español</a></li>-->
                    <!--<li data-ng-show="lang !== '日本語' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('日本語')"><div class="flag flags-japan"></div> 日本語</a></li>-->
                    <!--<li data-ng-show="lang !== 'zh' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('zh')"><div class="flag flags-china"></div> 中文</a></li>-->
                    <!--<li data-ng-show="lang !== 'Deutsch' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('Deutsch')"><div class="flag flags-germany"></div> Deutsch</a></li>-->
                    <!--<li data-ng-show="lang !== 'français' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('français')"><div class="flag flags-france"></div> français</a></li>-->
                    <!--<li data-ng-show="lang !== 'Italiano' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('Italiano')"><div class="flag flags-italy"></div> Italiano</a></li>-->
                    <!--<li data-ng-show="lang !== 'Portugal' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('Portugal')"><div class="flag flags-portugal"></div> Portugal</a></li>-->
                    <!--<li data-ng-show="lang !== 'Русский язык' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('Русский язык')"><div class="flag flags-russia"></div> Русский язык</a></li>-->
                    <!--<li data-ng-show="lang !== '한국어' ">-->
                        <!--<a href="javascript:;" data-ng-click="setLang('한국어')"><div class="flag flags-korea"></div> 한국어</a></li>-->
                </ul>
            </li>

        </ul>

        <ul class="nav-right pull-right list-unstyled" ng-controller="HeaderCtrl">
            <li class="dropdown" ng-show="$parent.isRole('SUP')">
                <a href="#/customer-approve" class="dropdown-toggle bg-orange">
                    <i class="fa fa-user-plus"></i>
                    <span class="badge badge-info">{{ new_customer_count }}</span>
                </a>
            </li>
            <li class="dropdown" ng-show="$parent.isRole('SUP')">
                <a href="#/feedback" class="dropdown-toggle bg-warning">
                    <i class="fa fa-comment-o"></i>
                    <span class="badge badge-info">{{ numberFeedbackUnread }}</span>
                </a>
            </li>
            <li class="dropdown" ng-show="$parent.isRole('DIS')">
                <a href="#/orders-approve" class=" dropdown-toggle bg-success">
                    <i class="fa fa-cart-plus nav-icon"></i>
                    <span class="badge badge-info">{{ new_po_count }}</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="bg-primary" ng-click="$parent.logout()">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </div>

</header>
