<basic-view class="region-hierarchy">

    <div class="row title-bar">
        <div class="col-xs-6">
            <h3> {{ title | translate }} </h3>
        </div>

        <div class="col-xs-6 title-btn-bar">

            <button id="back" class="btn btn-warning" ng-click="back()" ng-if="!isReadonly()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button class="btn btn-warning" ng-click="create()" ng-if="isReadonly()">
                <span class="fa fa-plus"></span>
            </button>

            <button class="btn btn-info" ng-click="edit()" ng-if="isReadonly()" >
                <span class="fa fa-edit"></span>
            </button>

            <button class="btn btn-success" ng-click="save()" ng-if="!isReadonly()">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="region-hierarchy-left col-md-6 col-sm-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{ 'region.hierarchy' | translate }}</strong>
                </div>
                <div class="panel-body">
                    <div ui-tree data-drag-enabled="false" id="tree-root">
                        <ol ui-tree-nodes data-nodrag ng-model="records">
                            <li ng-repeat="node in records" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </section>
        </div>


        <div class="region-hierarchy-right col-md-6 col-sm-12">
            <section class="panel panel-default">
                <div class="panel-heading">

                    <strong><span class="glyphicon glyphicon-th"></span> {{ 'user.region.monitored' | translate }}</strong>

                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-xs-12" ng-class="{'col-lg-3 col-md-4': moreThan20()}"
                         style="padding-left: 5px; padding-right: 5px;" ng-repeat="record in selectedRegions | propsFilter: {name: searchText}">
                        <section class="panel panel-default" style="margin-bottom: 10px;">

                            <div class="wrapper-sm">
                                {{ record.name }}
                            </div>

                        </section>
                    </div>
                </div>
            </section>

        </div>
    </div>
</basic-view>

<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content " ng-class="active">
    <span data-ng-show="node.children.length > 0">
        <a class="angular-ui-tree-icon" data-nodrag ng-click="toggle(this)">
        <span class="angular-ui-tree-icon-collapse"
              ng-class="{'collapsed': collapsed, 'uncollapsed': !collapsed}"/>
        </a>
    </span>
        <i-check class="pull-right" ng-model="node.selected" ng-change="nodeChange(node)"></i-check>
        {{node.name}}
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

