<!DOCTYPE html>
<html ng-app="ViettelApp">
    <head>
        <title>DMS PLUS</title>
        <meta charset="UTF-8">
        <meta name="DMS" content="width=device-width, initial-scale=1.0" >
        <meta name="description" content="DMS System By Viettel" />
        <meta name="author" content="Technical and Technology Department - Technical and Technology Department - Information Technology and Telecommunication Solution Center - Viettel Group" />

        <!--
            IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
            For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
        -->
        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
            <script>
                document.createElement('ui-select');
                document.createElement('ui-select-match');
                document.createElement('ui-select-choices');
            </script>
        <![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="font-icon/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="font-icon/weather-icons/css/weather-icons.min.css" />
        <link rel="stylesheet" href="styles/main.css" />

    </head>
    <body ng-controller="BodyCtrl" id="app" data-custom-background="">
        <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div data-ng-if="$root.isNoAuthPage() || $root.tokenVerified">
            <div data-ng-if="!$root.isNoAuthPage() && $root.tokenVerified"
                 data-ng-hide="$root.isFullScreenPage()" data-ng-cloak class="no-print">
                <section data-ng-include=" 'template/header.html' " id="header" class="top-header"></section>

                <aside data-ng-include=" 'template/nav.html' " id="nav-container"></aside>
            </div>

            <div class="view-container">
                <section ui-view="" id="content" class="animate-fade-up"></section>
            </div>
        </div>

        <div class="page-loading-overlay" data-ng-if="!(($root.isNoAuthPage() || $root.tokenVerified) && $root.loaded)">
            <div class="loader-2"></div>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- Bootstrap core JavaScript -->
        <!-- ================================================== -->
        <!-- jquery -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>

        <!-- bootstrap -->
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Lodash -->
        <script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>

        <!--Angular-->
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script type="text/javascript" src="bower_components/ng-idle/angular-idle.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-fcsa-number/src/fcsaNumber.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-file-upload/angular-file-upload.min.js"></script>

        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="bower_components/moment-duration-format/lib/moment-duration-format.js"></script>

        <script type="text/javascript" src="bower_components/sockjs-client/dist/sockjs.min.js"></script>
        <script type="text/javascript" src="bower_components/stomp-websocket/lib/stomp.min.js"></script>

        <!--toastr-->
        <script type="text/javascript" src="bower_components/toastr/toastr.min.js"></script>
        <!--ui-router-->
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-select/dist/select.min.js"></script>

        <!--dialog-->
        <script type="text/javascript" src="bower_components/angular-dialog-service/dist/dialogs.min.js"></script>

        <!--flot-->
        <script type="text/javascript" src="bower_components/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="bower_components/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="bower_components/flot/jquery.flot.stack.js"></script>
        <script type="text/javascript" src="bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

        <!--morris-->
        <script type="text/javascript" src="bower_components/raphael/raphael-min.js"></script>
        <script type="text/javascript" src="bower_components/morris.js/morris.min.js"></script>

        <!-- angular-google-maps -->
        <script type="text/javascript" src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/lib.js -->
        <!-- Customized -->

        <!--util-->
        <script type="text/javascript" src="js/angular-util/angular-util.js"></script>
        <script type="text/javascript" src="js/login/vt-token.js"></script>
        <script type="text/javascript" src="js/util/table-ctrl.js"></script>
        <script type="text/javascript" src="js/logger/logger.js"></script>
        <script type="text/javascript" src="js/vt-push/vt-push-1.0.js"></script>
        <script type="text/javascript" src="js/util/category-list-ctrl-util.js"></script>
        <script type="text/javascript" src="js/util/category-detail-popup-ctrl-util.js"></script>
        <script type="text/javascript" src="js/util/name-category-by-distributor-list-ctrl-util.js"></script>

        <!-- Filter -->
        <script type="text/javascript" src="js/filter.js"></script>

        <!-- Directive -->
        <script type="text/javascript" src="directive/vt-directive.js"></script>
        <script type="text/javascript" src="directive/vt-radio.js"></script>
        <script type="text/javascript" src="directive/vt-checkbox.js"></script>
        <script type="text/javascript" src="directive/vt-checkbox-tri-state.js"></script>
        <script type="text/javascript" src="directive/vt-search-box.js"></script>
        <script type="text/javascript" src="directive/vt-file-manager.js"></script>
        <script type="text/javascript" src="directive/ngEnter.js"></script>
        <script type="text/javascript" src="directive/ngFocusElement.js"></script>
        <script type="text/javascript" src="directive/squareDirective.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/app.js -->
        <!--My App JS-->
        <script type="text/javascript" src="mvc/common.js"></script>

        <!-- Service -->
        <script type="text/javascript" src="mvc/service/business-service.js"></script>

        <!-- Controller -->
        <!-- Common -->
        <script type="text/javascript" src="mvc/controller/common/body-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/timeout-warn-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/lang-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/category-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/category-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/common/name-category-by-distributor-list-ctrl.js"></script>

        <!-- SuperAdmin -->
        <script type="text/javascript" src="mvc/controller/superadmin/client-config-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/superadmin/system-ctrl.js"></script>

        <!-- Admin -->
        <script type="text/javascript" src="mvc/controller/admin/user-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/user-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/sales-config-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/calendar-config-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/product-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/product-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/customer-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/customer-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/distributor-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/survey-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/survey-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/survey-question-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/exhibition-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/exhibition-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/exhibition-category-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/promotion-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/promotion-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/promotion-type-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/visit-tracking-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/import-customer-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/import-product-ctrl.js"></script>

        <!-- Supervisor -->
        <script type="text/javascript" src="mvc/controller/supervisor/target-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/target-detail-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/customer-create-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/customer-approve-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/customer-approve-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/visit-schedule-popup-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/visit-tracking-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/order-approve-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/order-approve-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/feedback-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/supervisor/feedback-detail-ctrl.js"></script>
        <!-- End Supervisor -->

        <!-- Distributor -->
        <script type="text/javascript" src="mvc/controller/distributor/order-approve-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/distributor/order-approve-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/distributor/order-approve-confirm-dialog-ctrl.js"></script>
        <!-- End Distributor -->

        <!--REPORT-->
        <script type="text/javascript" src="mvc/controller/report/homepage-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-survey-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-survey-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-exhibition-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/report-exhibition-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/order-list-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/order-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/sales-report-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/sales-report-daily-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/sales-report-distributor-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/sales-report-product-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/sales-report-salesman-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/visit-report-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/visit-report-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/dashboard-visit-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/dashboard-visit-detail-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/display-check-report-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/order-report-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/customer-schedule-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/admin/import-schedule-ctrl.js"></script>
        <script type="text/javascript" src="mvc/controller/report/route-detail-ctrl.js"></script>
        <!--******-->

        <!--SYSTEM-->
        <script type="text/javascript" src="mvc/controller/common/change-password-ctrl.js"></script>
        <!--******-->

        <!--Header Ctrl-->
        <script type="text/javascript" src="mvc/controller/header-controller.js"></script>
        <!-- end controller -->

        <!-- factory -->
        <script type="text/javascript" src="mvc/factory/factory.js"></script>
        <!-- end factory -->
        <!-- endbuild -->
    </body>
</html>
