<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro" style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ 'calendar.config' | translate }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-success" ng-click="save()" ng-show="isChanged">
                <span class="fa fa-floppy-o"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <div class="row no-select">
                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive table-middle">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <strong> {{ 'calendar.config.working.days' | translate }} </strong>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    {{ 'day.monday' | translate }}
                                </td>
                                <td style="width: 38px;">
                                    <vt-checkbox ng-model="calendarConfig.monday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'day.tuesday' | translate }}
                                </td>
                                <td style="width: 38px;">
                                    <vt-checkbox ng-model="calendarConfig.tuesday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'day.wednesday' | translate }}
                                </td>
                                <td style="width: 38px;">
                                    <vt-checkbox ng-model="calendarConfig.wednesday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'day.thursday' | translate }}
                                </td>
                                <td style="width: 38px;">
                                    <vt-checkbox ng-model="calendarConfig.thursday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'day.friday' | translate }}
                                </td>
                                <td style="width: 38px;">
                                    <vt-checkbox ng-model="calendarConfig.friday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'day.saturday' | translate }}
                                </td>
                                <td>
                                    <vt-checkbox ng-model="calendarConfig.saturday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'day.sunday' | translate }}
                                </td>
                                <td style="width: 38px;">
                                    <vt-checkbox ng-model="calendarConfig.sunday" ng-change="markAsChanged()"></vt-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive table-middle">
                        <thead>
                            <tr>
                                <td>
                                    <strong> {{ 'calendar.config.every.year.holidays' | translate }} </strong>
                                </td>
                                <td style="width: 38px;">
                                    <button class="btn btn-primary btn-icon-xs" ng-click="createEveryYearHoliday()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="everyYearHoliday in calendarConfig.everyYearHolidays">
                                <td>
                                    <div class="row">
                                        <div class="col-xs-6" style="padding-right: 0px;">
                                            <ui-select ng-model="everyYearHoliday.month" ng-change="markAsChanged()">
                                                <ui-select-match placeholder="{{ 'month' | translate }}"> {{$select.selected.name | translate}} </ui-select-match>
                                                <ui-select-choices repeat="data.value as data in simpleDateMonths | propsTranslateFilter: {name: $select.search}">
                                                    <div ng-bind-html="data.name | translate | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-xs-6" style="padding-left: 5px;">
                                            <ui-select ng-model="everyYearHoliday.date" ng-change="markAsChanged()">
                                                <ui-select-match placeholder="{{ 'date' | translate }}"> {{$select.selected}} </ui-select-match>
                                                <ui-select-choices repeat="data in simpleDateDates[everyYearHoliday.month] | filter: $select.search">
                                                    <div ng-bind-html="data"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <button class="btn btn-danger btn-icon-xs" ng-click="deleteFromList(calendarConfig.everyYearHolidays, everyYearHoliday)">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive table-middle">
                        <thead>
                            <tr>
                                <td>
                                    <strong> {{ 'calendar.config.exception.holidays' | translate }} </strong>
                                </td>
                                <td style="width: 38px;">
                                    <button class="btn btn-primary btn-icon-xs" ng-click="createExceptionHoliday()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="exceptionHoliday in calendarConfig.exceptionHolidays">
                                <td>
                                    <p class="input-group" style="margin: 0px">
                                        <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="exceptionHoliday.date" is-open="exceptionHoliday.opened" datepicker-options="{startingDay: 1}" ng-required="true"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event, exceptionHoliday)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </td>
                                <td style="text-align: center">
                                    <button class="btn btn-danger btn-icon-xs" ng-click="deleteFromList(calendarConfig.exceptionHolidays, exceptionHoliday)">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive table-middle">
                        <thead>
                            <tr>
                                <td>
                                    <strong> {{ 'calendar.config.exception.working.days' | translate }} </strong>
                                </td>
                                <td style="width: 38px;">
                                    <button class="btn btn-primary btn-icon-xs" ng-click="createExceptionWorkingDay()">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="exceptionWorkingDay in calendarConfig.exceptionWorkingDays">
                                <td>
                                    <p class="input-group" style="margin: 0px">
                                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="exceptionWorkingDay.date" is-open="exceptionWorkingDay.opened" datepicker-options="{startingDay: 1}" ng-required="true"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event, exceptionWorkingDay)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </td>
                                <td style="text-align: center">
                                    <button class="btn btn-danger btn-icon-xs" ng-click="deleteFromList(calendarConfig.exceptionWorkingDays, exceptionWorkingDay)">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

</div>
