<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px, height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="cancel()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>

            <button class="btn btn-primary" ng-click="ok(true)" ng-if="((isDraft() && isEdit()) || (isNew() && isChanged)) && who == 'admin'">
                <span class="fa fa-check"></span>
            </button>

            <button class="btn btn-success" ng-click="ok()" ng-show="isChanged">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <form name="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} * </label>
                            <ui-select ng-model="record.distributorId" on-select="markAsChanged()" required>
                                <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                                <ui-select-choices repeat="data.id as data in distributors | propsFilter: { name: $select.search }">
                                    <div> {{ data.name }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'name' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.name" ng-change="markAsChanged()"
                                   ng-maxlength="50" required autofocus ng-readonly="!isDraft()"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'code' | translate }} </label>
                            <input type="text" class="form-control" ng-model="record.code" ng-change="markAsChanged()" ng-readonly="true" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group" ng-if="isDraft()">
                            <label> {{ 'customer.type' | translate }} * </label>
                            <ui-select ng-model="record.customerTypeId" on-select="markAsChanged()" required>
                                <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                                <ui-select-choices repeat="data.id as data in customerTypes | propsFilter: { name: $select.search }">
                                    <div> {{ data.name }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group" ng-if="!isDraft()">
                            <label> {{ 'customer.type' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.customerType.name" ng-readonly="true"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group" ng-if="isDraft()">
                            <label> {{ 'customer.district' | translate }} * </label>
                            <ui-select ng-model="record.districtId" on-select="markAsChanged()" required>
                                <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                                <ui-select-choices repeat="data.id as data in districts | propsFilter: { name: $select.search }">
                                    <div> {{ data.name }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group" ng-if="!isDraft()">
                            <label> {{ 'customer.district' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.district.name" ng-readonly="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.mobile' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.mobile" ng-change="markAsChanged()"
                                   ng-maxlength="15" required/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.phone' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.phone" ng-change="markAsChanged()"
                                   ng-maxlength="15" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.contact' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.contact" ng-change="markAsChanged()"
                                   ng-maxlength="30" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.email' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.email" ng-change="markAsChanged()"
                                   ng-maxlength="30" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.longitude' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.longitude" ng-readonly="true" required/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.latitude' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.latitude" ng-readonly="true" required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events" control="control">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"
                                            ng-if="showMarker">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>
