<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2"></div>
    </div>
    <form name="form">
        <div class="form-group">
            <label> {{ 'exhibition.category' | translate }} * </label>
            <input type="text" class="form-control" ng-model="category.name" ng-change="markAsChanged()" required/>
        </div>

        <div style="max-height: 250px; overflow-y: auto; overflow-x: hidden;">
            <table class="table table-bordered table-responsive table-middle" style="margin: 0px;">
                <thead>
                <tr>
                    <td>
                        <strong> {{ 'exhibition.item' | translate }} </strong>
                    </td>
                    <td style="width: 38px;">
                        <button class="btn btn-primary btn-icon-xs" ng-click="createItem()">
                            <span class="fa fa-plus"></span>
                        </button>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in category.items">
                    <td>
                        <input type="text" class="form-control" ng-model="item.name" ng-change="markAsChanged()" required/>
                    </td>
                    <td style="text-align: center">
                        <button class="btn btn-danger btn-icon-xs" ng-click="deleteItem($index)">
                            <span class="fa fa-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">
        <span class="fa fa-check"></span>
    </button>

    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
