<div class="page page-table ng-scope import-view">
    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title }} </h3>
        </div>
    </div>

    <div>
        <section class="panel panel-default">
            <div class="padding-default">
                <div class="wizard">
                    <div class="row">
                        <div class="col-xs-3" ng-repeat="step in steps">
                            <div class="wizard-element" ng-class="{done: isDoneStep($index), current: isCurrentStep($index)}">
                                {{ ($index + 1) }}.&nbsp;{{ step.name | translate }}
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div ng-if="currentStep == 0">
                    <div class="row">
                        <div class="col-xs-12">
                            <label> {{ 'import.schedule.distributor' | translate }} </label>
                            <ui-select ng-model="global.distributorId" required>
                                <ui-select-match placeholder="--">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="data.id as data in distributors | propsFilter: {name: $select.search}">
                                    <div> {{ data.name }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div ng-if="currentStep == 1">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4> {{ 'import.schedule.distributor' | translate}}:&nbsp;{{ global.distributorName }} </h4>
                            <hr/>
                        </div>

                        <div class="col-xs-12">
                            <label> {{ 'import.schedule.upload.file' | translate }} </label>
                            <vt-single-file
                                    ng-model="global.excel"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    required>
                            </vt-single-file>
                        </div>

                        <div class="col-xs-12">
                            <a class="btn btn-tumblr" ng-href="{{ getTemplateLink() }}" style="margin-top: 15px;">
                                <span class="fa fa-file-excel-o"></span>
                                {{ 'import.schedule.customer.list' | translate }}
                            </a>
                        </div>
                    </div>
                </div>

                <div ng-if="currentStep == 2">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4> {{ 'import.schedule.distributor' | translate}}:&nbsp;{{ global.distributorName }} </h4>
                            <hr/>
                        </div>

                        <div class="col-xs-12" ng-if="global.confirm.rowDatas == null || global.confirm.rowDatas.length == 0">
                            <div class="mini-box">
                                <span class="box-icon bg-success">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </span>

                                <div class="box-info">
                                    <p class="size-h2"> {{ global.confirm.total }} </p>
                                    <p class="text-muted">{{ 'import.schedule.total.schedule' | translate }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12" ng-if="global.confirm.rowDatas.length > 0">
                            <div class="mini-box">
                                <span class="box-icon bg-danger">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </span>

                                <div class="box-info">
                                    <p class="size-h2"> {{ global.confirm.rowDatas.length }}&nbsp;/&nbsp;{{ global.confirm.total }} </p>
                                    <p class="text-muted">{{ 'import.schedule.schedule.error' | translate }}</p>
                                </div>
                            </div>

                            <table class="table table-bordered table-middle text-center table-striped">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="text-center">
                                            {{ 'import.schedule.row.in.excel' | translate }}
                                        </th>
                                        <th colspan="6" class="text-center">
                                            {{ 'import.schedule.row.error' | translate }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">
                                            {{ 'import.schedule.error.customer.code' | translate }}
                                        </th>
                                        <th class="text-center">
                                            {{ 'import.schedule.error.customer.name' | translate }}
                                        </th>
                                        <th class="text-center">
                                            {{ 'import.schedule.error.customer.district' | translate }}
                                        </th>
                                        <th class="text-center">
                                            {{ 'import.schedule.error.route' | translate }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rowError in global.confirm.rowDatas">
                                        <td>
                                            {{ rowError.rowNumber }}
                                        </td>
                                        <td ng-class="{'color-danger' : rowError.errors[0]}">
                                            {{ getRowErrorData(rowError.dataTexts[0]) }}
                                        </td>
                                        <td ng-class="{'color-danger' : rowError.errors[1]}">
                                            {{ getRowErrorData(rowError.dataTexts[1]) }}
                                        </td>
                                        <td ng-class="{'color-danger' : rowError.errors[2]}">
                                            {{ getRowErrorData(rowError.dataTexts[2]) }}
                                        </td>
                                        <td ng-class="{'color-danger' : rowError.errors[3]}">
                                            {{ getRowErrorData(rowError.dataTexts[3]) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-if="currentStep == 3">
                    <div class="col-xs-12">
                        <h4> {{ 'import.schedule.distributor' | translate}}:&nbsp;{{ global.distributorName }} </h4>
                        <hr/>
                    </div>

                    <div class="col-xs-12">
                        <div class="mini-box">
                                <span class="box-icon bg-info">
                                    <i class="fa fa-info"></i>
                                </span>

                            <div class="box-info">
                                <p class="size-h2"> {{ global.result.success }}&nbsp;/&nbsp;{{ global.result.total }} </p>
                                <p class="text-muted">{{ 'import.schedule.import.success' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-warning" ng-if="canBack()" ng-click="back()">
                            {{ 'import.schedule.back' | translate }}
                        </button>
                        <button class="btn btn-primary" ng-if="canNext()" ng-disabled="isNextDisabled()" ng-click="next()">
                            {{ 'import.schedule.next' | translate }}
                        </button>
                        <button class="btn btn-success" ng-if="isFinish()" ng-click="returnToParent()">
                            {{ 'import.schedule.finish' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </section>


    </div>
</div>
