<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2"></div>
    </div>
    <form name="form">
        <div class="form-group">
            <label> {{ 'survey.question.content' | translate }} * </label>
            <input type="text" class="form-control" ng-model="question.name" ng-change="markAsChanged()" required/>
        </div>

        <div style="margin: 15px 0px;">
            <label style="margin: 6px 6px 6px 0px;"> {{ 'survey.question.multiple.choice' | translate }}: </label>
            <vt-checkbox ng-model="question.multipleChoice" ng-change="markAsChanged()"></vt-checkbox>
        </div>
        <div style="max-height: 250px; overflow-y: auto; overflow-x: hidden;">
            <table class="table table-bordered table-responsive table-middle" style="margin: 0px;">
                <thead>
                <tr>
                    <td>
                        <strong> {{ 'survey.option' | translate }} ({{ 'survey.option.select.at.least.one' | translate }}) </strong>
                    </td>
                    <td style="width: 38px;">
                        <button class="btn btn-primary btn-icon-xs" ng-click="createOption()">
                            <span class="fa fa-plus"></span>
                        </button>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="option in question.options">
                    <td>
                        <input type="text" class="form-control" ng-model="option.name" ng-change="markAsChanged()" required/>
                    </td>
                    <td style="text-align: center">
                        <button class="btn btn-danger btn-icon-xs" ng-click="deleteOption($index)">
                            <span class="fa fa-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">
        <span class="fa fa-check"></span>
    </button>

    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
