<div class="modal-header">
    <h3 class="modal-title">{{ title | translate }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2"></div>
    </div>
    <form name="form">
        <div class="form-group">
            <label> {{ 'username' | translate }} </label>
            <input type="text" class="form-control" ng-model="record.username" ng-maxlength="30" required autofocus ng-readonly="!isDraft()">
        </div>

        <div class="form-group">
            <label> {{ 'fullname' | translate }} </label>
            <input type="text" class="form-control" ng-model="record.fullname" ng-maxlength="30" required ng-readonly="!isDraft()">
        </div>

        <div class="form-group" ng-if="isDraft()">
            <label> {{ 'role' | translate }} </label>
            <ui-select ng-model="record.role" required>
                <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                <ui-select-choices repeat="role.code as role in roles | propsFilter: { name: $select.search }">
                    <div> {{ role.name }} </div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" ng-if="!isDraft()">
            <label> {{ 'role' | translate }}: {{ getRoleDisplay()}} </label>
        </div>

        <div class="form-group" ng-if="haveChooseDistributor()">
            <label>{{ 'distributor' |  translate }}</label>
            <ui-select ng-model="record.distributorId" required on-select="markAsChanged()">
                <ui-select-match placeholder="--">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices
                        repeat="data.id as data in distributors | propsFilter: { name: $select.search }">
                    <div> {{ data.name }} </div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" ng-if="haveChooserSalesmen()">
            <label> {{ 'salesman' | translate }} </label>
            <ui-select multiple ng-model="record.salesmanIds" theme="bootstrap"
                       on-select="markAsChanged()" on-remove="markAsChanged()">
                <ui-select-match placeholder="{{ 'select.salesman' | translate }}"> {{ $item.username }} - {{ $item.fullname }} </ui-select-match>
                <ui-select-choices repeat="salesman.id as salesman in salesmen | propsFilter: {username: $select.search, fullname: $select.search}">
                    <div> {{ (salesman.username + ' - ' + salesman.fullname) }} </div>
                </ui-select-choices>
            </ui-select>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-info pull-left" ng-click="resetPassword()" ng-show="action=='edit'">
        {{ 'reset.password' |  translate }}
    </button>

    <button class="btn btn-primary" ng-click="enable()" ng-if="record.draft || action == 'new'">
        <span class="fa fa-check"></span>
    </button>

    <button class="btn btn-success" ng-click="ok()" ng-if="record.draft || action == 'new' || isChanged">
        <span class="fa fa-save"></span>
    </button>

    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
