// overload for multiple box-shadow values support in LESS CSS
.box-shadow(@shadow1, @shadow2) {
  -webkit-box-shadow: @shadow1, @shadow2;
  -moz-box-shadow: @shadow1, @shadow2;
  box-shadow: @shadow1, @shadow2;
}

.box-shadow(@shadow1, @shadow2, @shadow3) {
  -webkit-box-shadow: @shadow1, @shadow2, @shadow3;
  -moz-box-shadow: @shadow1, @shadow2, @shadow3;
  box-shadow: @shadow1, @shadow2, @shadow3;
}

.box-shadow(@shadow1, @shadow2, @shadow3, @shadow4) {
  -webkit-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
  -moz-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
  box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.padding-default {
  padding: 15px;

  &.has-border {
    border: 1px solid #e9e9e9;
  }
  &.no-top {
    padding-top: 0px;
  }
  &.no-bottom {
    padding-bottom: 0px;
  }
}

.borderless {
  border: none !important;
}

.ng-invalid {
  input&, textarea& {
    border-color: @btn-danger-border !important;
  }

  &.ui-select-container .ui-select-match .ui-select-toggle {
    border-color: @btn-danger-border !important;
  }

  &.vt-single-image {
    border-color: @btn-danger-border !important;
  }

}

.ui-select-container[disabled] {
  cursor: not-allowed;
}

.ui-select-white .ui-select-match .ui-select-toggle {
  background: white;
}

.angular-google-map-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 400px;
}

.my-container {
  max-width: 888px;

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title-bar {
  .title-btn-bar {
    text-align: right;

    button.btn {
      margin: 11px 0px;
    }

    a.btn {
      margin: 13px 0px;
    }
  }
}

.rotate-90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.rotate-180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.rotate-270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.space-top {
  margin-top: 15px !important;
}

.space-bottom {
  margin-bottom: 15px !important;
}

.space-right {
  margin-right: 15px !important;
}

.space-left {
  margin-left: 15px !important;
}

.cut-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-effect {
  &:hover,
  &:focus,
  &:active {
    outline: none !important;
    text-decoration: none !important;
  }
}

.row.no-space {
  margin-left: 0px;
  margin-right: 0px;

  > div {
    padding-left: 0px;
    padding-right: 0px;
  }

}