// Roboto Fonts
// --------------------------------------------------

// @font-face rule description
// @font-face {
//    font-family: '[font-family]';
//    font-style: normal;
//    font-weight: normal;
//    src: url('[font-path]/[font-file-name].eot');                                       // IE9 Compat Modes
//    src: url('[font-path]/[font-file-name].eot?#iefix') format('embedded-opentype'),    // IE6-IE8
//		   url('[font-path]/[font-file-name].woff2') format('woff2'),                     // Super Modern Browsers
//		   url('[font-path]/[font-file-name].woff') format('woff'),                       // Pretty Modern Browsers
//		   url('[font-path]/[font-file-name].ttf') format('truetype'),                    // Safari, Android, iOS
//		   url('[font-path]/[font-file-name].svg#[font-svg-id]') format('svg');           // Legacy iOS
// }

@fonts-path: "../fonts/roboto";

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('@{fonts-path}/Roboto-Thin.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Thin.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('@{fonts-path}/Roboto-Light.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Light.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('@{fonts-path}/Roboto-Regular.eot');
    src: url('@{fonts-path}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('@{fonts-path}/Roboto-Regular.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Regular.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Regular.ttf') format('truetype'),
		 url('@{fonts-path}/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('@{fonts-path}/Roboto-Medium.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Medium.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('@{fonts-path}/Roboto-Bold.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Bold.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('@{fonts-path}/Roboto-Black.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Black.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('@{fonts-path}/Roboto-ThinItalic.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-ThinItalic.woff') format('woff'),
		 url('@{fonts-path}/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('@{fonts-path}/Roboto-LightItalic.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-LightItalic.woff') format('woff'),
		 url('@{fonts-path}/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('@{fonts-path}/Roboto-Italic.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-Italic.woff') format('woff'),
		 url('@{fonts-path}/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('@{fonts-path}/Roboto-MediumItalic.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-MediumItalic.woff') format('woff'),
		 url('@{fonts-path}/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('@{fonts-path}/Roboto-BoldItalic.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-BoldItalic.woff') format('woff'),
		 url('@{fonts-path}/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('@{fonts-path}/Roboto-BlackItalic.woff2') format('woff2'),
		 url('@{fonts-path}/Roboto-BlackItalic.woff') format('woff'),
		 url('@{fonts-path}/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('@{fonts-path}/RobotoCondensed-Light.woff2') format('woff2'),
		 url('@{fonts-path}/RobotoCondensed-Light.woff') format('woff'),
		 url('@{fonts-path}/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('@{fonts-path}/RobotoCondensed-Regular.eot');
    src: url('@{fonts-path}/RobotoCondensed-Regular.eot') format('embedded-opentype'),
		 url('@{fonts-path}/RobotoCondensed-Regular.woff2') format('woff2'),
		 url('@{fonts-path}/RobotoCondensed-Regular.woff') format('woff'),
		 url('@{fonts-path}/RobotoCondensed-Regular.ttf') format('truetype'),
		 url('@{fonts-path}/RobotoCondensed-Regular.svg#RobotoCondensed') format('svg');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('@{fonts-path}/RobotoCondensed-Bold.woff2') format('woff2'),
		 url('@{fonts-path}/RobotoCondensed-Bold.woff') format('woff'),
		 url('@{fonts-path}/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('@{fonts-path}/RobotoCondensed-LightItalic.woff2') format('woff2'),
		 url('@{fonts-path}/RobotoCondensed-LightItalic.woff') format('woff'),
		 url('@{fonts-path}/RobotoCondensed-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('@{fonts-path}/RobotoCondensed-Italic.woff2') format('woff2'),
		 url('@{fonts-path}/RobotoCondensed-Italic.woff') format('woff'),
		 url('@{fonts-path}/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: url('@{fonts-path}/RobotoCondensed-BoldItalic.woff2') format('woff2'),
		 url('@{fonts-path}/RobotoCondensed-BoldItalic.woff') format('woff'),
		 url('@{fonts-path}/RobotoCondensed-BoldItalic.ttf') format('truetype');
}
