<basic-view class="use-map" ng-class="{ 'must-select-distributor': mustSelectDistributor() }">

    <div class="row title-bar">
        <div class="col-xs-9">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-xs-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="wrapper-sm no-padder-bottom">
            <div class="row">
                <div class="col-sm-6 col-xs-12 m-b-sm" ng-show="isUseRegionFilter()">
                    <label> {{ 'region.menu' | translate }} </label>
                    <name-category-combobox
                        ng-model="filter.regionId"
                        datas="regions"
                        ng-change="regionFilterChange()">
                    </name-category-combobox>
                </div>
                <div class="col-sm-6 col-xs-12 m-b-sm">
                    <label> {{ 'distributor' | translate }} </label>
                    <name-category-combobox
                        ng-model="filter.distributorId"
                        datas="distributors"
                        ng-change="distributorFilterChange()"
                        ng-readonly="changeStatus.isChanged"
                        placeholder="{{ 'please.select.distributor' | translate }}">
                    </name-category-combobox>
                </div>

                <div class="col-sm-6 col-xs-12 m-b-sm hide-when-must-select-distributor">
                    <label> {{ 'salesman' | translate }} </label>
                    <user-combobox
                        ng-model="filter.salesmanId"
                        datas="salesmen"
                        ng-change="filterChange()"
                        ng-readonly="changeStatus.isChanged"
                        placeholder="{{ 'please.select.salesman' | translate }}">
                    </user-combobox>
                </div>
            </div>
        </div>

        <div ng-include=" 'map.html' "></div>

    </section>

</basic-view>
