<basic-view>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">
                <div class="row">

                    <div class="col-xs-12 m-b">
                        <button class="btn btn-primary w-full" ng-click="resetCache()">
                            {{ 'reset.cache' |  translate }}
                        </button>
                    </div>

                    <div class="col-xs-12">
                        <button class="btn btn-primary w-full" ng-click="generateBigData()">
                            Generate Big Data
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </section>

</basic-view>
