<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px, height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="cancel()">
                <span class="fa fa-close"></span>
            </button>

            <button class="btn btn-success" ng-click="ok()">
                <span class="fa fa-save"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic" ng-hide="distributors.length > 0">
        <div class="padding-default">
            <div class="row">
                <div class="col-sm-6">
                    <strong style="line-height: 34px;">{{ 'distributor.empty' | translate }}</strong>
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-show="distributors.length > 0">
        <div class="padding-default">

            <form name="form">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label> {{ 'visit.schedule.distributor' | translate }} </label>
                        <ui-select ng-model="global.currentDistributorId" required>
                            <ui-select-match placeholder="--">{{$select.selected.code}} - {{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="data.id as data in distributors | propsFilter: {name: $select.search, code: $select.search}">
                                <div> {{ data.name }} </div>
                                <small>
                                    {{'code' | translate}}:
                                </small>
                                <small> {{ data.code }} </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.type' | translate }} * </label>
                            <ui-select ng-model="record.customerTypeId" required>
                                <ui-select-match placeholder="--"> {{$select.selected.name}} </ui-select-match>
                                <ui-select-choices repeat="data.id as data in customerTypes | propsFilter: {name: $select.search}">
                                    <div> {{ data.name }} </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.name' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.name" required/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.mobile' | translate }} * </label>
                            <input type="text" class="form-control" ng-model="record.mobile" required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.contact' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.contact"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.phone' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.phone"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.email' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.email"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.longitude' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.longitude" ng-readonly="true" required/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer.latitude' | translate }}</label>
                            <input type="text" class="form-control" ng-model="record.latitude" ng-readonly="true" required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events" control="control">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>
