<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:void(0)" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;"
           ng-click="tableCtrl.refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="tableCtrl.refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <table class="table table-middle">
            <thead>
            <tr>
                <th>#</th>
                <th>
                    {{ 'customer.approve.header.name' | translate }}
                </th>
                <th>
                    {{ 'customer.approve.header.mobile' | translate }}
                </th>
                <th>
                    {{ 'customer.type' | translate }}
                </th>
                <th>
                    {{ 'customer.approve.header.distributor' | translate }}
                </th>
                <th>
                    {{ 'customer.approve.header.created.user' | translate }}
                </th>
                <th>
                    {{ 'customer.approve.header.created.date' | translate }}
                </th>
                <th style="width: 38px">
                </th>
            </tr>
            </thead>

            <tbody ng-if="tableCtrl.records.length > 0">
            <tr ng-repeat="record in tableCtrl.records track by $index">
                <td>
                    {{ (currentPage - 1) * itemsPerPage + $index + 1}}
                </td>
                <td>
                    {{ record.name }}
                </td>
                <td>
                    {{ record.mobile }}
                </td>
                <td>
                    {{ record.customerType.name }}
                </td>
                <td>
                    {{ record.distributor.name }}
                </td>
                <td>
                    {{ record.createdBy.fullname }}
                </td>
                <td>
                    {{ record.createdTime | user_date_time_format }}
                </td>
                <td class="text-center">
                    <button class="btn btn-info btn-icon-xs" ng-click="tableCtrl.editRecord(record)">
                        <span class="fa fa-gavel"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="tableCtrl.records.length == 0">
            <tr>
                <td colspan="9">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true"
                                total-items="totalItems" max-size="maxSize" items-per-page="itemsPerPage"
                                ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;"
                                first-text="&laquo;" last-text="&raquo;" ng-change="tableCtrl.pageChanged()"
                                style="float: right"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>
