<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'feedback.detail.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <!--{{ 'refresh' | translate }}-->
            </button>
        </div>
    </div>

    <section class="panel panel-default mail-container">
        <!--<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{-->
            <!--'feedback.detail.title' | translate }} </strong></div>-->
        <div class="panel-body">
            <div class="mail-header row">
                <div class="col-md-8">
                    <h3> {{ feedback.customer }} </h3>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">

                    </div>
                </div>
            </div>
            <div class="mail-info">
                <div class="row">
                    <div class="col-md-8">
                        <strong> {{ feedback.salesman }} </strong>
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right">
                            {{ getTimeDisplay(feedback.createdTime) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mail-content">
                <div ng-repeat="record in feedback.feedbacks track by $index">
                    <h4> #{{$index + 1}} </h4>
                    <p> {{record}} </p>
                </div>
            </div>
        </div>
    </section>
</div>
