<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;"
           ng-click="tableCtrl.refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'feedback.list.title' | translate }} </h3>
        </div>

        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="tableCtrl.refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default mail-container">
        <table class="table table-hover hover-underline">
            <tr ng-repeat="record in tableCtrl.records track by $index"
                ng-class="{'mail-unread': (!record.feedbacksReaded)}"
                ng-click="viewDetail(record)"
                ng-if="tableCtrl.records.length > 0">
                <td><i class="fa fa-circle color-info" ng-if="!record.feedbacksReaded"></i></td>
                <td> {{ record.customer }}</td>
                <td style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 400px;"> {{
                    getFeedbackDisplay(record.feedbacks) }}
                </td>
                <td> {{ getTimeDisplay(record.createdTime) }}</td>
            </tr>
            <tr ng-if="tableCtrl.records.length == 0">
                <td colspan="4">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true" total-items="totalItems" max-size="maxSize"
                                items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="tableCtrl.pageChanged()"></pagination>
                </div>
            </div>
        </footer>
    </section>
</div>
