<div class="page page-invoice">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <div style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -180px; width: 360px; height: 180px;">
            <a href="javascript:;" class="btn btn-warning btn-metro" style="display: inline-block" ng-click="cancel()">
                <i class="fa fa-arrow-left"></i>
            </a>

            <a href="javascript:;" class="btn btn-primary btn-metro" style="display: inline-block" ng-click="refresh()">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>

    <div class="row title-bar">
        <div class="col-xs-4 col-sm-4">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-xs-8 col-sm-8 title-btn-bar">
            <span classx="floating-top-btn-group">
                <button class="btn btn-warning" ng-click="cancel()">
                    <span class="fa fa-arrow-left"></span>
                    <!--{{ 'back' | translate }}-->
                </button>

                <button type="button" class="btn btn-info" ng-click="refresh()" ng-show="canRefresh()">
                    <span class="fa fa-refresh"></span>
                    <!--{{ 'refresh' | translate }}-->
                </button>

                <button class="btn btn-danger" ng-click="reject()" ng-show="canReject()">
                    <span class="fa fa-remove"></span>
                    <!--{{ 'reject' | translate }}-->
                </button>

                <button class="btn btn-primary" ng-click="approval()" ng-show="canApproval()">
                    <span class="fa fa-check"></span>
                    <!--{{ 'approve' | translate }}-->
                </button>
            </span>
        </div>
    </div>

    <section class="panel panel-default"
             data-ng-include=" 'mvc/view/template/purchase-order-view.html' ">
    </section>
</div>
