<div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2"></div>
    </div>
    <form role="form">
        <div class="row">
            <div class="col-sm-6 col-xs-12" style="line-height: 34px;" ng-if="data.distributor">
                <label>{{ 'distributor' | translate }}: {{ data.distributor.name }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <strong style="line-height: 34px;" ng-show="hasSalesman()"> {{ 'visit.schedule.please.select.salesman' | translate }} </strong>
                <strong style="line-height: 34px;" ng-show="!hasSalesman()"> {{ 'visit.schedule.distributor.no.salesman' | translate }} </strong>
            </div>
        </div>

        <div class="row" ng-show="hasSalesman()">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ui-select ng-model="global.currentSalesmanId">
                    <ui-select-match placeholder="--">{{$select.selected.username}} - {{$select.selected.fullname}}</ui-select-match>
                    <ui-select-choices repeat="data.id as data in salesmen | propsFilter: {fullname: $select.search}">
                        <div> {{ data.fullname }} </div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="row" ng-show="hasSalesman()">
            <div class="col-sm-6">
                <strong style="line-height: 34px;"> {{ 'visit.schedule.please.selected.schedule.and.frequency' | translate }} </strong>
            </div>
        </div>

        <div class="row" ng-show="hasSalesman()">
            <div class="col-sm-12">
                <table class="table table-bordered table-responsive table-middle" style="background-color: transparent;">
                    <thead>
                    <tr>
                        <th rowspan="2" style="vertical-align: middle; text-align: center;">
                            {{ 'customer' | translate}}
                        </th>
                        <th colspan="7" style="vertical-align: middle; text-align: center;">
                            {{ 'visit.schedule.days' | translate }}
                        </th>
                        <th ng-attr-colspan="{{numberWeekFrequency}}" style="vertical-align: middle; text-align: center; background-color: #f3f3f3;">
                            {{ 'visit.schedule.week.frequency' | translate }}
                        </th>
                        <th rowspan="2" style="vertical-align: middle; text-align: center; width: 65px;">

                        </th>
                    </tr>
                    <tr>
                        <td style="width: 38px;">
                            {{ 'T2' | translate}}
                        </td>
                        <td style="width: 38px;">
                            {{ 'T3' | translate}}
                        </td>
                        <td style="width: 38px;">
                            {{ 'T4' | translate}}
                        </td>
                        <td style="width: 38px;">
                            {{ 'T5' | translate}}
                        </td>
                        <td style="width: 38px;">
                            {{ 'T6' | translate}}
                        </td>
                        <td style="width: 38px;">
                            {{ 'T7' | translate}}
                        </td>
                        <td style="width: 38px;">
                            {{ 'CN' | translate}}
                        </td>
                        <td ng-repeat="week in weeks" style="width: 38px; background-color: #f3f3f3;">
                            {{ week.label }}
                        </td>
                    </tr>

                    </thead>

                    <tbody>
                    <tr>
                        <td style="vertical-align: baseline;">
                            <div style="display: block; margin-bottom: 5px;">
                                {{ data.name }}
                            </div>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isMonday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isTuesday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isWednesday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isThursday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isFriday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isSaturday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.isSunday"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!--week-->
                        <td style="padding: 0px; background-color: #f3f3f3;" ng-repeat="week in weeks">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <vt-checkbox ng-model="item.weekFrequencys[week.index].selected"></vt-checkbox>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding: 0px;">
                            <table class="table table-responsive table-middle" style="margin: 0px; background-color: transparent;">
                                <tr ng-repeat="item in customerSchedule.items">
                                    <td ng-class="{borderless: $first}">
                                        <button class="btn btn-danger btn-icon-xs" style="border: none; width: 20px; height: 20px;"
                                                ng-click="clearCustomerScheduleItem(item)">
                                            <span class="fa fa-remove"></span>
                                        </button>
                                        <button class="btn btn-success btn-icon-xs" style="border: none; width: 20px; height: 20px;"
                                                ng-click="addNewItem()">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-show="hasSalesman()">{{ 'save' | translate }}</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">{{ 'cancel' | translate }}</button>
</div>



