<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;"
           ng-click="tableCtrl.refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-sm-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="tableCtrl.refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <table class="table table-responsive table-middle table-hover">
            <thead>
            <tr>
                <td nowrap>
                    {{ 'purchase.order.code' | translate}}
                </td>
                <td nowrap>
                    {{ 'distributor.name' | translate}}
                </td>
                <td nowrap>
                    {{ 'customer.name' | translate}}
                </td>
                <td nowrap>
                    {{ 'purchase.order.salesman.name' | translate}}
                </td>
                <td class="text-right" nowrap>
                    {{ 'purchase.order.grandTotal' | translate}}
                </td>
                <td nowrap>
                    {{ 'purchase.order.created.date' | translate }}
                </td>
                <td style="width: 38px" nowrap>
                </td>
            </tr>
            </thead>

            <tbody ng-if="tableCtrl.records.length > 0">
            <tr ng-repeat="record in tableCtrl.records">
                <td nowrap>
                    {{ record.code }}
                </td>
                <td>
                    {{ record.distributor.name }}
                </td>
                <td>
                    {{ record.customer.name }}
                </td>
                <td>
                    {{ record.salesman.fullname }}
                </td>
                <td class="text-right" nowrap>
                    {{ record.grandTotal | number }}
                </td>
                <td>
                    {{ record.createdTime | user_date_time_format }}
                </td>
                <td class="text-center" nowrap>
                    <button class="btn btn-info btn-icon-xs" ng-click="tableCtrl.editRecord(record)"
                            title="{{ 'action.view.approve.purchase.order' | translate }}">
                        <span class="fa fa-gavel"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-if="tableCtrl.records.length == 0">
            <tr>
                <td colspan="7">
                    {{ 'no.data' | translate }}
                </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination pagination-sm pagination-right space-right" boundary-links="true"
                                total-items="totalItems" max-size="maxSize"
                                items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="tableCtrl.pageChanged()"></pagination>
                </div>
            </div>
        </footer>

    </section>
</div>
