<div class="modal-header">
    <h3 class="modal-title">{{ 'purchase.order.dialog.confirm.title' | translate }}</h3>
</div>
<div class="modal-body" ng-bind-html="'purchase.order.confirm.when.approve' | translate">
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="approveAndPrint()">
        <span class="fa fa-print"></span> {{ 'approve.and.print' | translate }}
    </button>

    <button class="btn btn-success" ng-click="approve()">
        <span class="fa fa-check-square-o"></span> {{ 'approve' | translate }}
    </button>

    <button class="btn btn-primary" ng-click="cancel()">
        <span class="fa fa-close"></span> {{ 'cancel' | translate }}
    </button>
</div>