<basic-view class="customer-approval use-map">
    <div>
        <div class="row title-bar">
            <div class="col-xs-8">
                <h3> {{ 'change.password.title' | translate }} </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel panel-default">
                    <div class="panel-body">
                        <form name="form">
                            <div style="max-width: 400px; margin: auto;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label> {{ 'change.password.old.password' | translate }} * </label>
                                            <input type="password"
                                                   autocomplete="off"
                                                   class="form-control"
                                                   ng-model="record.oldPassword"
                                                   ng-trim="false"
                                                   required
                                                   autofocus/>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label> {{ 'change.password.new.password.1' | translate }} * </label>
                                            <input type="password"
                                                   autocomplete="off"
                                                   class="form-control"
                                                   ng-model="record.newPassword"
                                                   ng-maxlength="30"
                                                   ng-minlength="6"
                                                   required
                                                   autofocus/>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label> {{ 'change.password.new.password.2' | translate }} * </label>
                                            <input type="password"
                                                   autocomplete="off"
                                                   class="form-control"
                                                   ng-model="record.newPassword2"
                                                   compare-to="record.newPassword"
                                                   ng-maxlength="30"
                                                   ng-minlength="6"
                                                   required/>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <button type="button"
                                                class="btn btn-success pull-right"
                                                ng-click="save()">
                                            <span class="fa fa-save"></span>
                                            {{ 'save' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

    </div>
</basic-view>
