<basic-view>
    <div class="row title-bar">
        <div class="col-xs-6">
            <h3> {{ title | translate }} </h3>
        </div>

        <div class="col-xs-6 title-btn-bar">
            <button id="back" class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-success" ng-if="!record.multipleProduct" ng-click="export()">
                <span class="fa fa-file-excel-o"></span>
            </button>

            <button id="refresh" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>
    <!-- Specific product -->
    <section class="panel panel-default" ng-if="!record.multipleProduct">
        <div class="wrapper-sm">
            <div class="row">
                <div class="col-xs-12">
                    <strong>{{ 'product' |  translate }}:&nbsp;</strong> {{ record.name  }}
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default table-dynamic" ng-if="!record.multipleProduct">

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-middle no-margin">
                    <thead>
                    <tr>
                        <th rowspan="2" style="border-right: 1px solid #ddd">{{ 'distributor' | translate }}</th>
                        <th colspan="2" class="text-center w-sm info" style="border-right: 1px solid #ddd">{{ 'last.inventory.update' | translate }}</th>
                        <th rowspan="2" class="text-center w-sm" style="border-right: 1px solid #ddd">     {{ 'sold.quantity' | translate }}     </th>
                        <th rowspan="2" class="text-center w-sm info" style="border-right: 1px solid #ddd">{{ 'available.quantity' | translate }}</th>
                        <th rowspan="2" class="text-center w-sm">{{ 'inventory.amount' | translate }}</th>
                    </tr>
                    <tr>
                        <th class="text-center w-md info" style="border-right: 1px solid #ddd">{{ 'time' | translate }}</th>
                        <th class="text-center w-sm info" style="border-right: 1px solid #ddd">{{ 'quantity' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="distributor in record.distributors">
                        <td style="border-right: 1px solid #ddd">
                            <div>{{ distributor.name }}</div>
                        </td>
                        <td class="info" style="border-right: 1px solid #ddd">
                            <div class="text-left">{{ getLastInventoryUpdateTimeForSingleProduct(distributor) }}</div>
                        </td>
                        <td class="info" style="border-right: 1px solid #ddd">
                            <div class="text-right">{{ getQuantityDisplay(distributor.inventoryResult.inventoryQuantity) }}</div>
                        </td>
                        <td style="border-right: 1px solid #ddd">
                            <div class="text-right">{{ getQuantityDisplay(distributor.inventoryResult.soldQuantity) }}</div>
                        </td>
                        <td class="info" style="border-right: 1px solid #ddd">
                            <div class="text-right">{{ getQuantityDisplay(distributor.inventoryResult.availableQuantity) }}</div>
                        </td>
                        <td>
                            <div class="text-right">{{ getQuantityDisplay(distributor.inventoryResult.amount) }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <!-- Multiple product -->
    <section class="panel panel-default" ng-if="record.multipleProduct">
        <div class="wrapper-sm">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-middle no-margin">
                        <thead>
                        <tr>
                            <th>{{'distributor' | translate}}</th>
                            <th>{{ 'last.inventory.update.time' |  translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lastUpdate in record.lastInventories">
                            <td>{{lastUpdate.distributor.name}}</td>
                            <td>{{getLastInventoryUpdateTimeForMultipleProduct(lastUpdate)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="panel panel-default table-dynamic" ng-if="record.multipleProduct">

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-middle no-margin">
                    <thead>
                    <tr>
                        <th colspan="2" style="border-right: 1px solid #ddd">{{ 'product' | translate }}</th>
                        <th class="text-center w-sm info">{{ 'inventory.quantity' | translate }}</th>
                        <th class="text-center w-sm">{{ 'sold.quantity' | translate }}     </th>
                        <th class="text-center w-sm info">{{ 'available.quantity' | translate }}</th>
                        <th class="text-center w-sm">{{ 'inventory.amount' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="product in products">
                        <td colspan="2" class="text-center danger" style="border-right: 1px solid #ddd" ng-if="product.isCategory">
                            <strong >{{ product.name }}</strong>
                        </td>
                        <td class="info" ng-if="product.isCategory"></td>
                        <td ng-if="product.isCategory"></td>
                        <td class="info" ng-if="product.isCategory"></td>
                        <td ng-if="product.isCategory"></td>


                        <td class="product-photo" ng-if="!product.isCategory">
                            <img ng-src="{{getPhotoLink(product.photo)}}" alt class="img-circle img64_64"/>
                        </td>
                        <td ng-if="!product.isCategory" style="border-right: 1px solid #ddd">
                            <div><strong>{{ product.name }}</strong></div>
                            <div>{{ product.code }}</div>
                        </td>
                        <td class="info" ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.inventoryQuantity) }}</div>
                        </td>
                        <td ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.soldQuantity) }}</div>
                        </td>
                        <td class="info" ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.availableQuantity) }}</div>
                        </td>
                        <td ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.amount) }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</basic-view>
