<basic-view class="inventory-detail">
    <div class="row title-bar">
        <div class="col-xs-6">
            <h3> {{ title | translate }} </h3>
        </div>

        <div class="col-xs-6 title-btn-bar">
            <button id="back" class="btn btn-warning" ng-click="back()" ng-if="isUseDistributorFilter()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button type="button" class="btn btn-success" ng-click="export()">
                    <span class="fa fa-file-excel-o"></span>
            </button>

            <button id="refresh" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>
    <!-- Section with filter as single distributor-->
    <section class="panel panel-default" ng-if="!record.multipleDistributor">
        <div class="wrapper-sm">
            <div class="row">
                <div class="col-xs-12 m-b-xs">
                    <strong>{{ 'distributor' | translate }}:&nbsp;</strong> {{ record.name }}
                </div>
                <div class="col-xs-12">
                    <strong>{{ 'last.inventory.update.time' | translate }}:&nbsp;</strong> {{
                    getLastInventoryUpdateTime() }}
                </div>
            </div>
        </div>
    </section>
    <!-- Section with filter as multiple distributor-->
    <section class="panel panel-default" ng-if="record.multipleDistributor">
        <div class="wrapper-sm">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-middle no-margin">
                        <thead>
                        <tr>
                            <th>{{'distributor' | translate}}</th>
                            <th>{{ 'last.inventory.update.time' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="lastUpdate in record.lastInventory">
                            <td>{{lastUpdate.distributor.name}}</td>
                            <td>{{getLastInventoryUpdateTime(lastUpdate)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default table-dynamic">

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-middle no-margin">
                    <thead>
                    <tr>
                        <th colspan="2" style="border-right: 1px solid #ddd">{{ 'product' | translate }}</th>
                        <th class="text-center w-sm info">{{ 'inventory.quantity' | translate }}</th>
                        <th class="text-center w-sm">{{ 'sold.quantity' | translate }}</th>
                        <th class="text-center w-sm info">{{ 'available.quantity' | translate }}</th>
                        <th class="text-center w-sm">{{ 'inventory.amount' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="product in products">
                        <td colspan="2" class="text-center danger" style="border-right: 1px solid #ddd"
                            ng-if="product.isCategory">
                            <strong>{{ product.name }}</strong>
                        </td>
                        <td class="info" ng-if="product.isCategory"></td>
                        <td ng-if="product.isCategory"></td>
                        <td class="info" ng-if="product.isCategory"></td>
                        <td ng-if="product.isCategory"></td>


                        <td class="product-photo" ng-if="!product.isCategory">
                            <img ng-src="{{getPhotoLink(product.photo)}}" alt class="img-circle img64_64"/>
                        </td>
                        <td ng-if="!product.isCategory" style="border-right: 1px solid #ddd">
                            <div><strong>{{ product.name }}</strong></div>
                            <div>{{ product.code }}</div>
                        </td>
                        <td class="info" ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.inventoryQuantity)
                                }}
                            </div>
                        </td>
                        <td ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.soldQuantity) }}</div>
                        </td>
                        <td class="info" ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.availableQuantity)
                                }}
                            </div>
                        </td>
                        <td ng-if="!product.isCategory">
                            <div class="text-right">{{ getQuantityDisplay(product.inventoryResult.amount) }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

</basic-view>
