<basic-view>

    <div class="row title-bar">
        <div class="col-xs-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label> {{ 'inventory.report.type' | translate }} </label>
                            <div class="row m-n">
                                <div class="col-xs-6 no-padder">
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="filter.reportType" value="distributor">
                                        <span> {{ 'inventory.report.by.distributor' | translate }} </span>
                                    </label>
                                </div>
                                <div class="col-xs-6 no-padder">
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="filter.reportType" value="product">
                                        <span> {{ 'inventory.report.by.product' | translate }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isUseRegionFilter() && isDisplayDistributor()">
                        <div class="form-group">
                            <label> {{ 'region.menu' | translate }} </label>
                            <name-category-combobox
                                ng-model="filter.regionId"
                                datas="regions"
                                ng-change="regionFilterChange()"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="isDisplayDistributor()">
                        <div class="form-group">
                            <label> {{ 'select.all.distributor' | translate }}:&nbsp;</label>
                            <i-check ng-model="filter.forAllDistributor"></i-check>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="isDisplayDistributor() && !isDisplayDistributorAll()">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} </label>
                            <name-category-multiple-combobox
                                placeholder="{{ 'please.select.distributor' | translate }}"
                                ng-model="filter.distributorIds"
                                datas="distributors"
                                ng-change="changeStatus.markAsChanged()"
                                readonly-datas="record.distributors"
                                ng-disabled="filter.forAllDistributor"
                                ng-if="distributors != null">
                            </name-category-multiple-combobox>

                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isDisplayProduct()">
                        <div class="form-group">
                            <label> {{ 'product' | translate }} </label>
                            <name-category-combobox
                                placeholder="{{ 'please.select.product' | translate }}"
                                ng-model="filter.productId"
                                datas="products"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>

                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary" ng-click="goToReport()"> {{ 'report' | translate }} </button>
                    </div>

                </div>
            </div>
        </form>
    </section>

</basic-view>
