<basic-view>

    <div class="row title-bar">
        <div class="col-xs-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> {{ 'from.date' | translate }} </label>

                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="fromDate.date"
                                       is-open="fromDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, fromDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> {{ 'to.date' | translate }} </label>

                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="toDate.date"
                                       is-open="toDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, toDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isUseRegionFilter()">
                        <div class="form-group">
                            <label> {{ 'region.menu' | translate }} </label>
                            <name-category-combobox
                                ng-model="filter.regionId"
                                datas="regions"
                                ng-change="regionFilterChange()"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isUseDistributorFilter()">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} </label>
                            <name-category-combobox
                                placeholder="{{ 'please.select.distributor' | translate }}"
                                ng-model="filter.distributorId"
                                datas="distributors"
                                ng-change="changeDistributor()"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isDisplaySalesman()">
                        <div class="form-group">
                            <label> {{ 'salesman' | translate }} </label>
                            <user-combobox
                                placeholder="{{ 'please.select.salesman' | translate }}"
                                ng-model="filter.salesmanId"
                                datas="salesmen"
                                required>
                            </user-combobox>
                        </div>
                    </div>

                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary" ng-click="goToReport()"> {{ 'report' | translate }} </button>
                    </div>

                </div>
            </div>
        </form>
    </section>

</basic-view>
