<basic-view class="page-profile salesman-performance">

    <div class="row title-bar">
        <div class="col-xs-9">
            <h3> {{ title | translate }}&nbsp;&nbsp;{{ getPeriodDisplay() }}</h3>
        </div>

        <div class="col-xs-3 title-btn-bar">
            <button id="back" class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
            </button>

            <button id="refresh" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-info">
                    <h3 class="ng-binding"> {{ record.fullname }} </h3>
                    <p> {{ record.distributor.name }} </p>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">
                                <strong>{{ record.nbOrder.actual | number:0 }}</strong>
                                <span ng-if="record.nbOrder.hasPlan">/&nbsp;{{ record.nbOrder.plan | number:0 }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'order' | translate }}
                                <span ng-if="record.nbOrder.hasPlan">
                                    <strong>({{ record.nbOrder.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </li>
                        <!--<li>-->
                            <!--<p class="size-h3">-->
                                <!--<strong>{{ record.quantity.actual | bigNumber }}</strong>-->
                                <!--<span ng-if="record.quantity.hasPlan">/&nbsp;{{ record.quantity.plan | bigNumber }}</span>-->
                            <!--</p>-->
                            <!--<p class="text-muted">-->
                                <!--{{ 'quantity' | translate }}-->
                                <!--<span ng-if="record.quantity.hasPlan">-->
                                    <!--<strong>({{ record.quantity.percentage | number:0 }}%)</strong>-->
                                <!--</span>-->
                            <!--</p>-->
                        <!--</li>-->
                        <li>
                            <p class="size-h3">
                                <strong>{{ record.productivity.actual | number:0 }}</strong>
                                <span ng-if="record.productivity.hasPlan">/&nbsp;{{ record.productivity.plan | number:0 }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'productivity' | translate }}&nbsp;({{ getProductivityUnit() }})
                                <span ng-if="record.productivity.hasPlan">
                                    <strong>({{ record.productivity.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-box">
                <div class="panel-top bg-success">
                    <div class="divider divider"></div>
                    <i class="fa fa-motorcycle size-h1"></i>
                    <div class="divider divider"></div>
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">
                                <strong>{{ record.nbVisit.actual | number:0 }}</strong>
                                <span ng-if="record.nbVisit.hasPlan">/&nbsp;{{ record.nbVisit.plan | number:0 }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'visit' | translate }}
                                <span ng-if="record.nbVisit.hasPlan">
                                    <strong>({{ record.nbVisit.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </li>
                        <li>
                            <p class="size-h3"> {{ record.nbVisitErrorPosition | number:0 }} </p>
                            <p class="text-muted"> {{ 'performance.visit.error.position' | translate }} </p>
                        </li>
                        <li>
                            <p class="size-h3"> {{ record.nbVisitHasOrder | number:0 }} </p>
                            <p class="text-muted"> {{ 'performance.visit.has.order' | translate }} </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="panel mini-box">
                        <span class="box-icon bg-info">
                            <i class="fa fa-usd"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">
                                <strong>{{ record.revenue.actual | bigNumber }}</strong>
                                <span ng-if="record.revenue.hasPlan">/&nbsp;{{ record.revenue.plan | bigNumber }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'revenue' | translate }}
                                <span ng-if="record.revenue.hasPlan">
                                    <strong>({{ record.revenue.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="panel mini-box">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-usd"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">
                                <strong>{{ record.subRevenue.actual | bigNumber }}</strong>
                                <span ng-if="record.subRevenue.hasPlan">/&nbsp;{{ record.subRevenue.plan | bigNumber }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'sub.revenue' | translate }}
                                <span ng-if="record.subRevenue.hasPlan">
                                    <strong>({{ record.subRevenue.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="panel mini-box">
                        <span class="box-icon bg-danger">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">
                                <strong>{{ record.revenueByOrder.actual | bigNumber }}</strong>
                                <span ng-if="record.revenueByOrder.hasPlan">/&nbsp;{{ record.revenueByOrder.plan | bigNumber }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'revenue.by.order' | translate }}
                                <span ng-if="record.revenueByOrder.hasPlan">
                                    <strong>({{ record.revenueByOrder.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="panel mini-box">
                        <span class="box-icon bg-success">
                            <i class="fa fa-barcode"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">
                                <strong>{{ record.skuByOrder.actual | bigNumber }}</strong>
                                <span ng-if="record.skuByOrder.hasPlan">/&nbsp;{{ record.skuByOrder.plan | bigNumber }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'sku.by.order' | translate }}
                                <span ng-if="record.skuByOrder.hasPlan">
                                    <strong>({{ record.skuByOrder.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="panel mini-box">
                        <span class="box-icon bg-primary">
                            <i class="fa fa-cubes"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">
                                <strong>{{ record.productivityByOrder.actual | bigNumber }}</strong>
                                <span ng-if="record.productivityByOrder.hasPlan">/&nbsp;{{ record.productivityByOrder.plan | bigNumber }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'productivity.by.order' | translate }}&nbsp;({{ getProductivityUnit() }})
                                <span ng-if="record.productivityByOrder.hasPlan">
                                    <strong>({{ record.productivityByOrder.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="panel mini-box">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-group"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">
                                <strong>{{ record.newCustomer.actual | bigNumber }}</strong>
                                <span ng-if="record.newCustomer.hasPlan">/&nbsp;{{ record.newCustomer.plan | bigNumber }}</span>
                            </p>
                            <p class="text-muted">
                                {{ 'new.customer' | translate }}
                                <span ng-if="record.newCustomer.hasPlan">
                                    <strong>({{ record.newCustomer.percentage | number:0 }}%)</strong>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-if="isDisplayChart()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                        {{ 'performance.sales.daily' | translate }}
                    </strong>
                </div>
                <div class="panel-body">
                    <div class="chart-container">
                        <div data-flot-chart
                             data-data="chart.data"
                             data-options="chart.options"
                             class="chart-default"
                             ng-if="isDisplayChart()">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <span class="glyphicon glyphicon-th"></span>
                        {{ 'performance.sales.product' | translate }}
                    </strong>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'product.category' | translate }}</th>
                        <th class="text-right">{{ 'quantity' | translate }}</th>
                        <th class="w-xxs"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="productCategorySalesQuantity in record.productCategoriesSalesQuantity">
                        <td> <strong>{{ productCategorySalesQuantity.name }}</strong> </td>
                        <td class="text-right">
                            <strong class="animate-fade-up" ng-if="!isProductCategoryOpened(productCategorySalesQuantity)">{{ productCategorySalesQuantity.quantity }}</strong>

                            <table class="table no-margin animate-fade-up" ng-if="isProductCategoryOpened(productCategorySalesQuantity)">
                                <tbody>
                                <tr ng-repeat="productSalesQuantity in productCategorySalesQuantity.productsSalesQuantity">
                                    <td> {{ productSalesQuantity.name }} </td>
                                    <td class="text-right"> {{ productSalesQuantity.quantity }} </td>
                                </tr>
                                <tr>
                                    <td> <strong>{{ 'total' | translate }}</strong> </td>
                                    <td class="text-right"> <strong>{{ productCategorySalesQuantity.quantity }}</strong> </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="text-right no-padder col-action">
                            <button class="btn" ng-click="clickOnProductCategory(productCategorySalesQuantity)">
                                <span class="fa fa-lg fa-caret-right text-info" ng-if="!isProductCategoryOpened(productCategorySalesQuantity)"></span>
                                <span class="fa fa-lg fa-caret-down text-info" ng-if="isProductCategoryOpened(productCategorySalesQuantity)"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</basic-view>
