<div class="name-category-combobox">
    <ui-select multiple class="" ng-model="container.selectedIds" on-select="onChange()" on-remove="onChange()">
        <ui-select-match placeholder="{{ getPlaceholder() }}">{{ $item.name }} </ui-select-match>
        <ui-select-choices repeat="data.id as data in datas | filter: { name: $select.search }">
            <div> {{ data.name }} </div>
        </ui-select-choices>
    </ui-select>

    <div class="form-control name-category-combobox-readonly" readonly="readonly"> {{ getReadonlyName() }} </div>
</div>
