<div class="modal-header">
    <h3 class="modal-title">{{ title | translate }}</h3>
</div>
<div class="modal-body">
    <div ng-class="{'page-loading-overlay':true, 'loaded':(!proccessing)}">
        <div class="loader-2"></div>
    </div>
    <form name="form">
        <div class="form-group">
            <label> {{ 'name' | translate }} </label>
            <input type="text" class="form-control" ng-model="record.name" ng-change="markAsChanged()" ng-maxlength="30" required autofocus ng-readonly="!isDraft()">
        </div>

        <div class="form-group" ng-if="useCode">
            <label> {{ 'code' | translate }} </label>
            <input type="text" class="form-control" ng-model="record.code" ng-change="markAsChanged()" ng-maxlength="10" ng-pattern="/^\S+$/" required ng-readonly="!isDraft()">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="enable()" ng-if="(isDraft() && isEdit()) || (isNew() && isChanged)">
        <span class="fa fa-check"></span>
    </button>

    <button class="btn btn-success" ng-click="ok()" ng-if="isDraft() && isChanged">
        <span class="fa fa-save"></span>
    </button>

    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
