<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{'change.password.title' | translate }} </h3>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="padding-default">
            <form name="form">
                <div style="max-width: 400px; margin: auto;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'change.password.old.password' | translate }} * </label>
                                <input type="password"
                                       class="form-control"
                                       ng-model="record.oldPassword"
                                       ng-trim="false"
                                       required
                                       autofocus/>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'change.password.new.password.1' | translate }} * </label>
                                <input type="password"
                                       class="form-control"
                                       ng-model="record.newPassword"
                                       ng-maxlength="30"
                                       ng-minlength="6"
                                       required
                                       autofocus/>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> {{ 'change.password.new.password.2' | translate }} * </label>
                                <input type="password"
                                       class="form-control"
                                       ng-model="record.newPassword2"
                                       compare-to="record.newPassword"
                                       ng-maxlength="30"
                                       ng-minlength="6"
                                       required/>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <button type="button"
                                    class="btn btn-success pull-right"
                                    ng-click="save()">
                                <span class="fa fa-save"></span>
                                {{ 'save' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
