<div class="page page-table ng-scope">

    <section class="panel panel-default">
        <div class="panel-body">
            <h3>{{ 'no.function.for.this.role' | translate }}</h3>
        </div>
    </section>
</div>
