<basic-view>

    <div class="row title-bar">
        <div class="col-xs-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'view.on.map' | translate }} </label>
                            <div class="switch-form-control no-select">
                                <label class="switch switch-success">
                                    <input type="checkbox" checked ng-model="filter.viewOnMap">
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="isDisplayDate()">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'date' | translate }} </label>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="date.date"
                                       is-open="date.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, date)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="isDisplayFromDateToDate()">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> {{ 'from.date' | translate }} </label>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="fromDate.date"
                                       is-open="fromDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, fromDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> {{ 'to.date' | translate }} </label>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="toDate.date"
                                       is-open="toDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, toDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'created.by' | translate }} * </label>
                            <user-combobox
                                placeholder="{{ 'please.select.created.by' | translate }}"
                                ng-model="filter.createdById"
                                datas="createdByList"
                                required>
                            </user-combobox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary" ng-click="search()"> {{ 'search' | translate }} </button>
                    </div>
                </div>

            </div>
        </form>
    </section>

</basic-view>
