<basic-view class="check-in-list">
    <div>
        <div class="row title-bar">
            <div class="col-xs-9">
                <h3> {{ title | translate }} </h3>
            </div>
            <div class="col-xs-3 title-btn-bar">
                <button class="btn btn-warning" ng-click="back()">
                    <span class="fa fa-arrow-left"></span>
                </button>

                <button type="button" class="btn btn-info" ng-click="refresh()">
                    <span class="fa fa-refresh"></span>
                </button>
            </div>
        </div>

        <section class="panel panel-default table-dynamic">
            <div class="wrapper-sm">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 m-b-xs">
                        <strong>{{ 'from.date' |  translate }}:&nbsp;</strong> {{ filter.fromDate | isoDate }}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 m-b-xs">
                        <strong>{{ 'to.date' |  translate }}:&nbsp;</strong> {{ filter.toDate | isoDate }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 m-b-xs">
                        <strong>{{ 'created.by' |  translate }}:&nbsp;</strong> {{ filter.createdByName }}
                    </div>
                </div>
            </div>
        </section>

        <section class="panel panel-default table-dynamic">
            <table class="table table-middle">
                <thead class="hidden-xs">
                <tr>
                    <th class="w">
                        {{ 'check.in.created.time' | translate }}
                    </th>
                    <th>
                        {{ 'check.in.note' | translate }}
                    </th>
                    <th class="w text-center">
                        {{ 'check.in.photo' | translate }}
                    </th>
                    <th class="w">
                        {{ 'location' | translate }}
                    </th>
                    <th class="w-3x"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="record in records">
                    <td>
                        {{ record.createdTime | isoDateTime }}
                    </td>
                    <td>
                        <div class="w-xl text-ellipsis">{{ record.note }}</div>
                    </td>
                    <td class="text-center">
                        <span class="status-icon" ng-class="{ 'color-success': hasPhoto(record) }">
                            <i class="fa fa-camera-retro"></i>
                        </span>
                    </td>
                    <td>
                        <p ng-class="{
                             'text-danger':isLocationUndefined(record),
                             'text-success':isAddressUndefined(record)}">
                            {{ getLocationDisplay(record) }}
                        </p>
                    </td>
                    <td class="text-right no-padder col-action">
                        <button class="btn" ng-click="goToDetail(record)">
                            <span class="fa fa-2x fa-angle-right"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="isEmpty()">
                    <td colspan="4">
                        {{ 'no.data' | translate }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="wrapper-sm pagination-container">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="m-b-sm m-t-none m-l-n-sm m-r-n-sm">
                    </div>

                    <div class="col-xs-12 text-right">
                        <strong class="pull-left" style="margin-top: 4.5px">
                            {{ 'total.number.of.record' | translate }}:&nbsp;{{ pagingData.count | number:0 }}
                        </strong>

                        <pagination class="pagination pagination-sm pagination-right m-n"
                                    boundary-links="true"
                                    total-items="pagingData.count"
                                    max-size="pagingData.pagingMaxSize"
                                    items-per-page="pagingData.itemsPerPage"
                                    ng-model="pagingData.currentPage"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                    ng-change="pageChange()">
                        </pagination>
                    </div>
                </div>
            </div>
        </section>
    </div>
</basic-view>
