<basic-view class="use-map check-in-detail">

    <div class="row title-bar">
        <div class="col-xs-9">
            <h3> {{ title | translate }} </h3>
        </div>

        <div class="col-xs-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
            </button>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-profile">
                        <div class="panel-heading bg-primary clearfix">
                            <h3>{{ record.createdBy.fullname }}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-time"></span>
                                    <label class="w-md">{{ 'time' | translate }}</label>
                                    {{ record.createdTime | isoDateTime }}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-pushpin"></span>
                                    <label class="w-md">{{ 'location' | translate }}</label>
                                    {{ getLocationDisplay(record) }}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-comment"></span>
                                    <label class="w-md">{{ 'check.in.note' | translate }}</label>
                                    {{ record.note }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MAP-->
        <div class="col-sm-6">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong><span class="glyphicon glyphicon-map-marker"></span> {{ 'map' | translate }}</strong>
                </div>
                <div class="panel-body">
                    <div ng-include=" 'map.html' "></div>
                </div>
            </section>
        </div>

        <div class="col-xs-12" ng-show="isDisplayPhoto()">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-camera"></span> {{ 'check.in.photo' | translate }}</strong></div>
                <div class="panel-body">
                    <div class="photo-container" ng-repeat="photo in record.photos">
                        <div class="img-crop img120_120" style="{{ 'background-image:url(\'' + getPhotoLink(photo) + '\')' }}"></div>

                        <button type="button" class="btn" ng-click="zoomPhoto(photo)">
                            <span class="fa fa-3x fa-search-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</basic-view>
