<basic-view class="use-map check-in-timeline">

    <div class="row title-bar">
        <div class="col-xs-9">
            <h3> {{ title | translate }} </h3>
        </div>

        <div class="col-xs-3 title-btn-bar">
            <button class="btn btn-warning" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div ng-include=" 'map.html' "></div>
                </div>
            </section>
        </div>
    </div>

    <div class="row" ng-if="isEmpty()">
        <div class="col-xs-12">
            <strong> {{ 'no.data' | translate }} </strong>
        </div>
    </div>

    <div class="page" ng-if="!isEmpty()">
        <div>
            <section class="ui-timeline">
                <article class="tl-item">
                    <div class="tl-body">
                        <div class="tl-entry">
                            <div class="tl-caption">
                                <a href="javascript:;" class="btn btn-primary btn-block">{{ filter.date | isoDate }}</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="tl-item" ng-repeat="record in records" ng-class="{'alt' : $index % 2 == 1}">
                    <div class="tl-body">
                        <div class="tl-entry">
                            <div class="tl-time">{{ record.createdTime | isoTime }}</div>
                            <div class="tl-icon square-icon sm"
                                 ng-class="{
                                 'bg-danger':getWarningCheckInIcon(record),
                                 'bg-info':getNormalCheckInIcon(record),
                                 'bg-success':getCameraCheckInIcon(record)}">
                                <i class="fa"
                                   ng-class="{
                                   'fa-exclamation-circle':getWarningCheckInIcon(record),
                                   'fa-asterisk':getNormalCheckInIcon(record),
                                   'fa-camera':getCameraCheckInIcon(record)}"
                                ></i>
                            </div>
                            <div class="tl-content">
                                <h4 class="tl-tile"
                                    ng-class="{
                                     'text-danger':isLocationUndefined(record),
                                     'text-success':isAddressUndefined(record),
                                     'text-primary':!isLocationUndefined(record) && !isAddressUndefined(record)}">
                                    {{ getLocationDisplay(record) }}
                                </h4>
                                <p>{{ record.note }}</p>
                                <div ng-if="isDisplayPhoto(record)">
                                    <!--<div class="m-xs inline img-crop img64_64 pos-rlt"-->
                                         <!--ng-repeat="photo in record.photos"-->
                                         <!--style="{{ 'background-image:url(\'' + getPhotoLink(photo) + '\')' }}">-->
                                        <!--<button class="zoom-photo-button"></button>-->
                                    <!--</div>-->

                                    <div class="photo-container" ng-repeat="photo in record.photos">
                                        <div class="img-crop img64_64"
                                             style="{{ 'background-image:url(\'' + getPhotoLink(photo) + '\')' }}"></div>

                                        <button type="button" class="btn" ng-click="zoomPhoto(photo)">
                                            <span class="fa fa-2x fa-search-plus"></span>
                                        </button>
                                    </div>
                                </div>
                                <a ng-href="{{ getCheckInDetailLink(record) }}" class="color-success">{{ 'detail' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>

</basic-view>
