<div class="photo-popup">
    <div class="modal-body pos-rlt">
        <button class="background-button" ng-click="cancel()"></button>

        <div class="photo-container">
            <img alt ng-src="{{ photoLink }}"/>
            <button class="close-btn btn btn-primary" ng-click="cancel()"></button>
        </div>
    </div>

    <div class="modal-footer" ng-if="isDisplayFooter()">
        <p class="modal-title" ng-if="isDisplayTitle()">  {{ title }} </p>
        <p class="no no-margin" ng-if="isDisplaySubTitle()"> {{ subTitle }} </p>
    </div>
</div>
