img {
    &.img30_30 {
        width: 30px;
        height: 30px;
    }
    &.img64_64 {
        width: 64px;
        height: 64px;
    }
    &.img80_80 {
        width: 80px;
        height: 80px;
    }
    &.img100_100 {
        width: 100px;
        height: 100px;
    }
    &.img120_120 {
        width: 120px;
        height: 120px;
    }
    &.img150_150 {
        width: 150px;
        height: 150px;
    }
}

div.img-crop {

    background-size: cover;
    background-position: center;

    &.img30_30 {
        width: 30px;
        height: 30px;
    }
    &.img64_64 {
        width: 64px;
        height: 64px;
    }
    &.img80_80 {
        width: 80px;
        height: 80px;
    }
    &.img100_100 {
        width: 100px;
        height: 100px;
    }
    &.img120_120 {
        width: 120px;
        height: 120px;
    }
    &.img150_150 {
        width: 150px;
        height: 150px;
    }

}
