<basic-view>
    <div>
        <div class="row title-bar">
            <div class="col-xs-9">
                <h3> {{ title | translate }} </h3>
            </div>
            <div class="col-xs-3 title-btn-bar">
                <button type="button" class="btn btn-info" ng-click="refresh()">
                    <span class="fa fa-refresh"></span>
                </button>

                <button type="button" class="btn btn-success" ng-click="export()">
                    <span class="fa fa-file-excel-o"></span>
                </button>

                <button class="btn btn-danger" ng-click="reject()"
                        confirm="{{ 'customer.approval.are.you.sure.reject' | translate }}"
                        confirm-title="{{ 'confirm.dialog.title' | translate }}"
                        confirm-ok="{{ 'confirm.dialog.ok' | translate }}"
                        confirm-cancel="{{ 'confirm.dialog.cancel' | translate }}"
                        confirm-settings="{ size: 'sm' }">
                    <span class="fa fa-remove"></span>
                </button>

                <button class="btn btn-primary" ng-click="approve()"
                        confirm="{{ 'customer.approval.are.you.sure.approve' | translate }}"
                        confirm-title="{{ 'confirm.dialog.title' | translate }}"
                        confirm-ok="{{ 'confirm.dialog.ok' | translate }}"
                        confirm-cancel="{{ 'confirm.dialog.cancel' | translate }}"
                        confirm-settings="{ size: 'sm' }">
                    <span class="fa fa-check"></span>
                </button>
            </div>
        </div>

        <section class="panel panel-default table-dynamic">
            <table class="table table-middle">
                <thead class="hidden-xs">
                <tr>
                    <th>
                        {{ 'distributor' | translate }}
                    </th>
                    <th>
                        {{ 'name' | translate }}
                    </th>
                    <th>
                        {{ 'code' | translate }}
                    </th>
                    <th>
                        {{ 'customer.type' | translate }}
                    </th>
                    <th>
                        {{ 'area' | translate }}
                    </th>
                    <th>
                        {{ 'customer.mobile' | translate }}
                    </th>
                    <th>
                        {{ 'created.by' | translate }}
                    </th>
                    <th>
                        {{ 'created.time' | translate }}
                    </th>
                    <th class="text-right no-padder col-action">
                        <i-check ng-model="marked.all" ng-click="changeMark()"/>
                    </th>
                    <th class="w-xxs"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="record in records">
                    <td>
                        {{ record.distributor.name }}
                    </td>
                    <td>
                        {{ record.name }}
                    </td>
                    <th>
                        {{ record.code }}
                    </th>
                    <td>
                        {{ record.customerType.name }}
                    </td>
                    <td>
                        {{ record.area.name }}
                    </td>
                    <td>
                        {{ record.mobile }}
                    </td>
                    <td>
                        {{ record.createdBy.fullname }}
                    </td>
                    <td>
                        {{ record.createdTime | isoDateTime }}
                    </td>
                    <td class="text-right no-padder col-action">
                        <i-check ng-model="record.isMarked" ng-change="isMarkedAll(record.isMarked)"/>
                    </td>
                    <td class="text-right no-padder col-action">
                        <button class="btn" ng-click="goToDetail(record)">
                            <span class="fa fa-2x fa-angle-right"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="isEmpty()">
                    <td colspan="8">
                        {{ 'no.data' | translate }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="wrapper-sm pagination-container">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="m-b-sm m-t-none m-l-n-sm m-r-n-sm">
                    </div>

                    <div class="col-xs-12 text-right">
                        <strong class="pull-left" style="margin-top: 4.5px">
                            {{ 'total.number.of.record' | translate }}:&nbsp;{{ pagingData.count | number:0 }}
                        </strong>

                        <pagination class="pagination pagination-sm pagination-right m-n"
                                    boundary-links="true"
                                    total-items="pagingData.count"
                                    max-size="pagingData.pagingMaxSize"
                                    items-per-page="pagingData.itemsPerPage"
                                    ng-model="pagingData.currentPage"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                    last-text="&raquo;"
                                    ng-change="pageChange()">
                        </pagination>
                    </div>
                </div>
            </div>
        </section>
    </div>
</basic-view>
