.ui-select {
    position: relative;

    display: block;

    > select {
        padding: 10px 15px 10px 10px;
        width: 100%;
        position: relative;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        text-indent: 0.01px;
        border: 1px solid @input-border;
        border-radius: @border-radius-base;
        text-overflow: ellipsis;
        -webkit-appearance: none;
    }

    &:after {
        z-index: 0;
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        color: @input-border;
        width: 0;
        margin-top: -3px;
        height: 0;
        border-top: 6px solid;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
}
