

.form-control {
    border-width: 1px;
    .box-shadow(none);


}

.form-control:focus {
    border-color: @skin;
    .box-shadow(none);
}

.form-group {
    .col-sm-10 {
        position: relative;
        .icon {
            position: absolute;
            right: 25px;
            top: 10px;
        }
    }

}

input.input-primary {
    border-color: @skin;
    &:focus {
        border-color: @skin;
    }
}
input.input-info {
    border-color: @brand-info;
    &:focus {
        border-color: @brand-info;
    }
}
input.input-success {
    border-color: @brand-success;
    &:focus {
        border-color: @brand-success;
    }
}
input.input-warning {
    border-color: @brand-warning;
    &:focus {
        border-color: @brand-warning;
    }
}
input.input-danger {
    border-color: @brand-danger;
    &:focus {
        border-color: @brand-danger;
    }
}

// Drag and drop
.drop-box {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    padding: 10px;
    border: 2px dashed #DDD;
    text-align: center;
    border-radius: @border-radius-base;
}

.drop-box-over {
    border: 2px dashed @brand-primary;
}
