<basic-view>

    <div class="row title-bar">
        <div class="col-xs-9">
            <h3> {{ title | translate }} </h3>
        </div>
        <div class="col-xs-3 title-btn-bar">
            <button type="button" class="btn btn-info" ng-click="refresh()">
                <span class="fa fa-refresh"></span>
            </button>
        </div>
    </div>

    <section class="panel panel-default mail-container">
        <table class="table table-hover hover-underline">
            <tr ng-repeat="record in records track by $index"
                ng-class="{'mail-unread': (!record.feedbacksReaded)}"
                ng-click="goToDetail(record)"
                ng-if="records.length > 0">

                <td class="w-xxs">
                    <i class="fa fa-circle color-info" ng-if="!record.feedbacksReaded"></i>
                </td>

                <td> {{ record.customer }} </td>

                <td style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 400px;">
                    {{ getFeedbackDisplay(record) }}
                </td>

                <td> {{ getTimeDisplay(record.createdTime) }} </td>

            </tr>

            <tr ng-if="records.length == 0">
                <td colspan="4">
                    {{ 'feedback.empty' | translate }}
                </td>
            </tr>
        </table>

        <div class="wrapper-sm pagination-container">
            <div class="row">
                <div class="col-xs-12">
                    <hr class="m-b-sm m-t-none m-l-n-sm m-r-n-sm">
                </div>

                <div class="col-xs-12 text-right">
                    <strong class="pull-left" style="margin-top: 4.5px">
                        {{ 'total.number.of.record' | translate }}:&nbsp;{{ pagingData.count | number:0 }}
                    </strong>

                    <pagination class="pagination pagination-sm pagination-right m-n"
                                boundary-links="true"
                                total-items="pagingData.count"
                                max-size="pagingData.pagingMaxSize"
                                items-per-page="pagingData.itemsPerPage"
                                ng-model="pagingData.currentPage"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="pageChange()">
                    </pagination>
                </div>
            </div>
        </div>

    </section>

</basic-view>
