.name-category-combobox{
    .name-category-combobox-readonly {
        display: none;
    }

    &[readonly='readonly'] {
        .ui-select-container {
            display: none;
        }

        .name-category-combobox-readonly {
            display: block;
        }
    }

    .ui-select-multiple {
        min-height: 34px;
    }
}
