.page-invoice {

    .invoice-wrapper {
        padding: 0 0 30px;
        background-color: @reverse;
    }
    .invoice-container {
        padding: 15px 15px 30px;
        background-color: @reverse;

        .invoice-sum {
            li {
                margin-bottom: 5px;
                padding: 10px;
                background-color: @table-bg-accent;
            }
        }
    }

    .header-top {
        p {
            margin: 0px;
        }
        .invoice-code {
            text-transform: uppercase;
        }
    }
    hr {
        margin: 10px 0px;
    }

    &.print {
        font-size: 9px;

        table {
            font-size: 10px;
        }

        .size-h2 {
            font-size: 20px;
        }

        .size-h3 {
            font-size: 16px;
        }
    }
}