<div class="invoice-wrapper" ng-if="record != null">
    <section class="invoice-container" id="invoice">
        <div class="row header-top">
            <div class="col-xs-6">
                <p class="size-h2">Oishi</p>
                <p>Ho Chi Minh: 083.842.0220 - 083.811.2080</p>
                <p>Ho Noi: 043.513.3514</p>
                <p>Da Nang: 0511-369-9901/054-393-8967/(84-511) 373-9940 loc. 207</p>
            </div>
            <div class="col-xs-6 text-right">
                <p class="size-h2 invoice-code">{{ record.code }}</p>
                <p> {{ record.createdTime | user_date_format }} </p>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-xs-6">
                <div style="display: inline-block; vertical-align: top;">
                    <strong>{{ 'purchase.order.distributor.id' |  translate }}: </strong><br/>
                    <strong>{{ 'purchase.order.customer.id' |  translate }}:</strong>
                </div>
                <div style="display: inline-block;">
                    {{ record.distributor.name }}<br/>
                    {{ record.customer.name }}
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <div style="display: inline-block;">
                    <strong>{{ 'dashboard.visit.detail.salesman' | translate }}:</strong><br/>
                    <strong>{{ 'purchase.order.delivery.type' | translate }}:</strong>
                </div>
                <div style="display: inline-block; text-align: left; vertical-align: top;">
                    {{ record.salesman.fullname }}<br/>
                    <span ng-if="record.deliveryType != 2">{{ getDeliveryTypeName(record.deliveryType) }}</span>
                    <span ng-if="record.deliveryType == 2">{{ record.deliveryTime | user_date_format }}</span>
                </div>
            </div>
        </div>

        <div class="divider divider-md"></div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr class="bg-dark">
                <th class="text-center">#</th>
                <th width="10%" style="text-align: center" nowrap>
                    {{ 'product.code' | translate}}
                </th>
                <th width="50%" style="text-align: center" nowrap>
                    {{ 'product.name' | translate}}
                </th>
                <th width="10%" style="text-align: center" nowrap>
                    {{ 'product.uom' | translate}}
                </th>
                <th width="10%" style="text-align: center" nowrap>
                    {{ 'purchase.order.price' | translate }}
                </th>
                <th width="8%" style="text-align: center" nowrap>
                    {{ 'purchase.order.qty' | translate }}
                </th>
                <th width="12%" style="text-align: center" nowrap>
                    {{ 'purchase.order.amount' | translate }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="detail in record.details">
                <td class="text-center" nowrap>
                    {{ ($index + 1) }}
                </td>
                <td class="text-center" nowrap>
                    {{ detail.product.code }}
                </td>
                <td>
                    {{ detail.product.name }}
                </td>
                <td class="text-center">
                    {{ detail.product.uom.name }}
                </td>
                <td class="text-right" nowrap>
                    {{ detail.product.price | number }}
                </td>
                <td class="text-right" nowrap>
                    {{ detail.quantity | number }}
                </td>
                <td class="text-right" nowrap>
                    {{ detail.amount | number }}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-xs-6">
                <div ng-if="rewardProducts != null">
                    <p class="size-h3">{{ 'dashboard.visit.detail.promotion' | translate }}</p>
                    <ul>
                        <li ng-repeat="promotion in rewardProducts track by $index">
                            {{ promotion.product.name }} x {{ promotion.quantity }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 invoice-sum text-right">
                <ul class="list-unstyled">
                    <li>{{ 'dashboard.visit.detail.subtotal' | translate }}:</li>
                    <li>{{ 'dashboard.visit.detail.promotion.amt' | translate }}:</li>
                    <li>{{ 'dashboard.visit.detail.discount.amt' | translate }}:</li>
                    <li><strong>{{ 'dashboard.visit.detail.grandtotal' | translate }}:</strong></li>
                </ul>
            </div>
            <div class="col-xs-2 invoice-sum text-right">
                <ul class="list-unstyled">
                    <li style="padding-right: 10px;">{{ record.subTotal | number }}
                    </li>
                    <li style="padding-right: 10px;">{{ record.promotionAmt | number }}
                    </li>
                    <li style="padding-right: 10px;">{{ record.discountAmt | number }}
                    </li>
                    <li style="padding-right: 10px;"><strong>{{ record.grandTotal | number }}</strong></li>
                </ul>
            </div>
        </div>
    </section>
</div>