<div>
    <div class="input-group">
        <input type="text" ng-disabled="ngDisabled"
               ng-class="{'form-control':textChanged(), 'form-control input-danger':!textChanged()}"
               ng-model="searchText"
               ng-enter="onEnter()"
               ng-blur="onBlur()"
               placeholder="{{ placeholder }}">
		<span class="input-group-btn">
		    <button class="btn btn-primary" type="button" ng-click="performSearch()" ng-if="textChanged()" ng-disabled="ngDisabled">
                <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-danger" type="button" ng-click="clearText()" ng-if="!textChanged()" ng-disabled="ngDisabled">
                <i class="fa fa-close"></i>
            </button>
		</span>
    </div>
</div>