<basic-view>

    <div class="row title-bar">
        <div class="col-xs-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> {{ 'from.date' | translate }} </label>

                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="fromDate.date"
                                       is-open="fromDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, fromDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> {{ 'to.date' | translate }} </label>

                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="toDate.date"
                                       is-open="toDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, toDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label> {{ 'sales.report.type' | translate }} </label>

                            <div class="row m-n">
                                <div class="col-sm-3 col-xs-6 no-padder">
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="filter.reportType" value="daily">
                                        <span> {{ 'sales.report.daily' | translate }} </span>
                                    </label>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padder" ng-if="isUseDistributorFilter()">
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="filter.reportType"
                                               value="distributor">
                                        <span> {{ 'sales.report.by.distributor' | translate }} </span>
                                    </label>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padder">
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="filter.reportType" value="product">
                                        <span> {{ 'sales.report.by.product' | translate }} </span>
                                    </label>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padder">
                                    <label class="ui-radio">
                                        <input name="radio1" type="radio" ng-model="filter.reportType" value="salesman">
                                        <span> {{ 'sales.report.by.salesman' | translate }} </span>
                                    </label>
                                </div>
                                <div class="col-sm-3 col-xs-6 no-padder" style="width: 220px;"
                                     ng-if="isDisplayProductImportant() && isUseFilterImportantProduct()">
                                    <label class="ui-checkbox">
                                        <input name="checkbox1" type="checkbox" ng-model="filter.isImportantProduct">
                                        <span> {{ 'sales.report.by.productImportant' | translate }} </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" ng-if="isDisplayRegion()">
                        <div class="form-group">
                            <label> {{ 'region.menu' | translate }} </label>
                            <name-category-combobox
                                ng-model="filter.regionId"
                                datas="regions"
                                ng-change="regionFilterChange()"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-if="isDisplayDistributor()">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} </label>
                            <name-category-combobox
                                placeholder="{{ 'please.select.distributor' | translate }}"
                                ng-model="filter.distributorId"
                                datas="distributors"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>


                    <div class="col-xs-12" ng-if="isDisplayProductCategory()">
                        <div class="form-group">
                            <label> {{ 'product.category' | translate }} </label>
                            <name-category-combobox
                                placeholder="{{ 'please.select.category' | translate }}"
                                ng-model="filter.productCategoryId"
                                datas="productCategoriesWithAll"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>

                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary" ng-click="goToReport()"> {{ 'report' | translate }}</button>
                    </div>

                </div>
            </div>
        </form>
    </section>

</basic-view>
