<category-detail class="inventory-detail">

    <form name="form">
        <section class="panel panel-default wrapper">
            <div class="max-w-md margin-auto" ng-if="isDraft()">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="date-time-picker">

                            <div class="form-group">
                                <label> {{ 'inventory.time' | translate }} </label>
                                <div class="input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control" ng-class="{'ng-invalid': date.date == null}"
                                           datepicker-popup="{{ dateFormat }}"
                                           ng-model="date.date"
                                           ng-change="changeStatus.markAsChanged()"
                                           is-open="date.opened"
                                           datepicker-options="dateOptions"
                                           close-text="{{ 'close' | translate }}">
                                <span class="input-group-addon" ng-click="open($event, date)">
                                    <i class="fa fa-calendar"></i>
                                </span>

                                </div>
                            </div>

                            <div class="time-picker-container">
                                <timepicker ng-model="date.time"
                                            ng-change="changeStatus.markAsChanged()"
                                            show-meridian="false">
                                </timepicker>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!isDraft()">
                <div class="col-xs-12">
                    <h4>{{ 'inventory.time' | translate }}:&nbsp;{{ getIsoTime() | isoDateTimeWithoutSecond }}</h4>
                </div>
            </div>
        </section>

        <section class="panel panel-default">

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-middle no-margin">
                        <thead>
                        <tr>
                            <th colspan="2" style="border-right: 1px solid #ddd">{{ 'product' | translate }}</th>
                            <th class="text-center w-sm info">{{ 'quantity' | translate }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="product in products">
                            <td class="text-center danger" colspan="2" style="border-right: 1px solid #ddd" ng-if="product.isCategory">
                                <strong>{{ product.name }}</strong>
                            </td>
                            <td class="info" ng-if="product.isCategory"></td>


                            <td class="product-photo" ng-if="!product.isCategory">
                                <img ng-src="{{getPhotoLink(product.photo)}}" alt class="img-circle img64_64"/>
                            </td>
                            <td ng-if="!product.isCategory" style="border-right: 1px solid #ddd">
                                <div><strong>{{ product.name }}</strong></div>
                                <div>{{ product.code }}</div>
                            </td>
                            <td class="info" ng-if="!product.isCategory">
                                <input class="form-control" ng-model="product.quantity"
                                       fcsa-number="{ min: 0, max: 1000000000000, maxDecimals: 0}"
                                       ng-change="changeStatus.markAsChanged()"
                                       required
                                       ng-if="isDraft()"/>
                                <div class="text-right" ng-if="!isDraft()">{{ product.quantity | number:0 }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

    </form>

</category-detail>
