<basic-view>
    <div class="category-list">

        <!--HEADER-->
        <div class="row title-bar">
            <div class="col-xs-6">
                <h3> {{ title | translate }} </h3>
            </div>

            <div class="col-xs-6 title-btn-bar">
                <button type="button" class="btn btn-info" ng-click="refresh()">
                    <span class="fa fa-refresh"></span>
                </button>

                <button type="button" class="btn btn-success" ng-click="goToImport()">
                    <span class="fa fa-file-excel-o"></span>
                </button>

                <button type="button" class="btn btn-primary" ng-click="createRecord()">
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>

        <section class="panel panel-default table-dynamic">

            <!--TABLE-->
            <table class="table table-middle table-border-top"  ng-if="!isEmpty()">
                <thead class="hidden-xs">
                <tr>
                    <th>
                        {{ 'time' | translate }}
                    </th>
                    <th class="col-action"></th>
                </tr>
                </thead>

                <tbody>

                <!--HAS DATA-->
                <tr ng-repeat="record in records">

                    <td class="col-data">
                        <div class="text-ellipsis"> {{ record.time | isoDateTimeWithoutSecond }} </div>
                    </td>

                    <!--ACTION ON GRID-->
                    <td class="text-right no-padder col-action">
                        <button class="btn" ng-click="deleteRecord(record)" ng-disabled="!record.draft"
                                confirm="{{ 'confirm.dialog.are.you.sure.delete' | translate }}"
                                confirm-title="{{ 'confirm.dialog.title' | translate }}"
                                confirm-ok="{{ 'confirm.dialog.ok' | translate }}"
                                confirm-cancel="{{ 'confirm.dialog.cancel' | translate }}"
                                confirm-settings="{ size: 'sm' }">
                            <span class="fa fa-lg fa-remove text-danger"></span>
                        </button>

                        <button class="btn" ng-click="enableRecord(record)" ng-disabled="!record.draft"
                                confirm="{{ 'confirm.dialog.are.you.sure.enable' | translate }}"
                                confirm-title="{{ 'confirm.dialog.title' | translate }}"
                                confirm-ok="{{ 'confirm.dialog.ok' | translate }}"
                                confirm-cancel="{{ 'confirm.dialog.cancel' | translate }}"
                                confirm-settings="{ size: 'sm' }">
                            <span class="fa fa-lg fa-check text-primary"></span>
                        </button>

                        <button class="btn" ng-click="editRecord(record)" ng-disabled="!record.active">
                            <span class="fa fa-lg fa-pencil text-info"></span>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

            <!--NO DATA-->
            <div class="row" ng-if="isEmpty()">
                <div class="col-xs-12">
                    <div class="wrapper-sm"> {{ 'no.data' | translate }} </div>
                </div>
            </div>

            <!--PAGING-->
            <div class="wrapper-sm pagination-container">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="m-b-sm m-t-none m-l-n-sm m-r-n-sm">
                    </div>

                    <div class="col-xs-12 text-right">
                        <strong class="pull-left" style="margin-top: 4.5px">
                            {{ 'total.number.of.record' | translate }}:&nbsp;{{ pagingData.count | number:0 }}
                        </strong>

                        <pagination class="pagination pagination-sm pagination-right m-n"
                                    boundary-links="true"
                                    total-items="pagingData.count"
                                    max-size="pagingData.pagingMaxSize"
                                    items-per-page="pagingData.itemsPerPage"
                                    ng-model="pagingData.currentPage"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                    ng-change="pageChange()">
                        </pagination>
                    </div>
                </div>
            </div>
        </section>
    </div>
</basic-view>

