<div class="modal-header">
    <h3 class="modal-title"><span>{{ title | translate }}</span><span ng-if="distributorName != null">&nbsp;-&nbsp;{{ distributorName | translate }}</span></h3>
</div>

<div class="modal-body select-popup">
    <!--FILTER-->
    <div class="row">
        <div class="col-xs-12 m-b-sm">
            <search-box ng-model="filter.searchText"
                        ng-change="search()"
                        placeholder="{{ 'search' | translate }}">
            </search-box>
        </div>
    </div>

    <div ng-if="!isEmpty()">
        <div  class="select-list">
            <div class="row" ng-repeat="record in records">
                <div class="col-xs-12">
                    <hr class="m-n">
                </div>
                <div class="col-xs-10">
                    <div class="m-t-sm m-b-sm">
                        <div><strong> {{ record.name }} </strong></div>
                        <div> {{ record.code }} &nbsp;-&nbsp; {{ record.customerType.name }} </div>
                        <div> {{ record.area.name }} </div>
                    </div>
                </div>
                <div class="col-xs-2 col-action">
                    <button class="btn" ng-click="selectCustomer(record)">
                        <span class="fa fa-lg fa-check text-success"></span>
                    </button>
                </div>
            </div>
        </div>

        <!--PAGING-->
        <div class="row">
            <div class="col-xs-12">
                <hr class="m-b-sm m-t-none m-l-n-sm m-r-n-sm">
            </div>

            <div class="col-xs-12 text-right">
                <strong class="pull-left" style="margin-top: 4.5px">
                    {{ 'total.number.of.record' | translate }}:&nbsp;{{ pagingData.count | number:0 }}
                </strong>

                <pagination class="pagination pagination-sm pagination-right m-n"
                            boundary-links="true"
                            total-items="pagingData.count"
                            max-size="pagingData.pagingMaxSize"
                            items-per-page="pagingData.itemsPerPage"
                            ng-model="pagingData.currentPage"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            ng-change="reloadData()">
                </pagination>
            </div>
        </div>
    </div>

    <div ng-if="isEmpty()">
        <strong>  {{ 'no.data' | translate }} </strong>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">
        <span class="fa fa-close"></span>
    </button>
</div>
