.homepage-supervisor {
  .clear {
    clear: both !important;
  }
  .mg_0 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .mg_10 {
    margin: 10px 0 !important;
  }
  .mg_left_10 {
    margin-left: 10px !important;
  }
  .color-twitter {
    color: @brand-info !important;
  }

  .dashboard-left .panel-box .panel-top {
    height: 80px !important;
    padding-top: 20px !important;
  }
  .dashboard-left .panel-box .panel-icon {
    width: 120px !important;
    height: 120px !important;
    font-size: 50px !important;
    margin-top: -60px !important;
    margin-right: 20px !important;
    padding: 10px !important;
  }
  .dashboard-left .panel-box .panel-bottom {
    background-color: transparent !important;
    padding: 0 !important;
    margin-top: -20px !important;
  }
  .dashboard-left .panel-box ul.list-justified > li {
    padding: 0 20px !important;
  }
  .dashboard-left .list-group {
    margin-top: 20px !important;
  }
  .dashboard-left .list-group-item {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #f3f3f3 !important;
    padding: 20px 0 !important;
    margin: 0 20px !important;
  }
  .dashboard-left .list-group-item > .badge {
    -ms-border-radius: 5px;
    border-radius: 5px;
    -moz-min-width: 24px;
    -ms-min-width: 24px;
    -o-min-width: 24px;
    -webkit-min-width: 32px;
    min-width: 32px;
    padding: 5px 7px !important;
    margin-right: 10px !important;
  }
  .dashboard-left .list-group-item > p {
    display: inline-block;
    line-height: 32px !important;
  }
  .dashboard-left .list-group-item .progress {
    margin-bottom: 0 !important;
  }

  .dashboard-right .panel-heading-bg-violet {
    background-color: @brand-info-alt !important;
    color: #fff !important;
    display: block !important;
    font-size: 58px !important;
    font-weight: normal !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 15px !important;
    text-transform: none !important;
  }
  .dashboard-right .list-group {
    border-top: 1px solid #f3f3f3 !important;
    margin: 20px 0 !important;
  }
  .dashboard-right .list-group-item {
    border: none !important;
    padding: 10px 0 10px 20px !important;
    height: auto !important;
  }
  .dashboard-right .list-group-item:first-child {
    margin-top: 20px !important;
  }
  .dashboard-right .list-group-item > .badge {
    background-color: transparent !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
    float: left !important;
    width: 65px !important;
    display: inline-block;
    font-size: 35px !important;
  }
  .dashboard-right .list-group-item > p {
    display: inline-block;
    line-height: 40px !important;
    margin-left: 15px !important;
    -moz-text-overflow: ellipsis !important;
    text-overflow: ellipsis !important;
  }
  .dashboard-right .list-group-item > i {
    font-size: 25px !important;
    line-height: 40px !important;
    float: right !important;
  }

  .progress {
    background: @gray-light;
    .progress-bar span {
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

  .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
