.import-view {

  .wizard {
    .wizard-element {
      height: 50px;
      line-height: 50px;
      text-align: left;
      border: 1px solid @input-border;
      padding: 0px 15px;

      &.current {
        border-color: @brand-primary;
        color: @brand-primary;
      }

      &.done {
        background: @brand-primary;
        border-color: @brand-primary;
        color: @bright;
      }
    }
  }

}