<basic-view>
    <div>
        <div class="row title-bar">
            <div class="col-xs-6">
                <h3 ng-if="orderCalculated == null"> {{ 'order.creating.title' | translate }} </h3>
                <h3 ng-if="orderCalculated != null"> {{ 'order.creating.confirm.title' | translate }} </h3>
            </div>

            <div class="col-xs-6 title-btn-bar" ng-if="orderCalculated == null">
                <button class="btn btn-info" ng-click="calculate()">
                    {{ 'order.creating.calculate.promotion.btn' | translate }}
                </button>
            </div>

            <div class="col-xs-6 title-btn-bar" ng-if="orderCalculated != null">
                <button class="btn btn-warning" ng-click="back()">
                    <span class="fa fa-arrow-left"></span>
                </button>

                <button class="btn btn-success" ng-click="save()">
                    <span class="fa fa-save"></span>
                </button>
            </div>
        </div>

        <section class="panel panel-default wrapper" ng-if="orderCalculated == null">
            <form name="form">

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer' | translate }} * </label>

                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       ng-model="order.customerName"
                                       required
                                       disabled>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="clearCustomer()">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button" ng-click="openSelectCustomer()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'salesman' | translate }} * </label>
                            <user-combobox
                                ng-model="order.salesmanId"
                                datas="salesmen"
                                required>
                            </user-combobox>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'order.delivery' | translate }} * </label>
                            <name-category-combobox
                                ng-model="order.deliveryType"
                                datas="deliveryTypes"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12" ng-if="order.deliveryType == 2">
                        <div class="form-group">
                            <label> {{ 'order.delivery.date' | translate }} * </label>
                            <div class="input-group ui-datepicker">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{ dateFormat }}"
                                       ng-model="deliveryDate.date"
                                       is-open="deliveryDate.opened"
                                       datepicker-options="dateOptions"
                                       close-text="{{ 'close' | translate }}"
                                       required>
                                <span class="input-group-addon" ng-click="open($event, deliveryDate)">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> {{ 'order.discount' | translate }} * </label>
                            <input class="form-control" ng-model="order.discountAmt"
                                   fcsa-number="{ min: 0, max: 1000000000, maxDecimals: 0}"
                                   required/>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <button class="btn btn-default" ng-click="addProduct()">
                            <span class="fa fa-plus"></span>
                            {{ 'order.creating.add.product' | translate }}
                        </button>
                    </div>

                    <div class="col-xs-12 m-t" ng-if="isProductListEmpty()">
                        <div class="lead color-danger no-margin">{{ 'order.creating.product.list.empty' | translate }}</div>
                    </div>

                    <div class="col-xs-12 m-t" ng-if="!isProductListEmpty()">
                        <div class="order">

                            <table class="table table-bordered table-striped table-middle order-detail no-margin">
                                <thead>
                                    <tr class="bg-dark">
                                        <th class="text-center index">#</th>
                                        <th class="text-center product-code"> {{ 'code' | translate }}</th>
                                        <th class="product-name"> {{ 'product' | translate }}</th>
                                        <th class="text-center uom"> {{ 'uom.short' | translate }}</th>
                                        <th class="text-center product-price"> {{ 'product.price' | translate }}</th>
                                        <th class="text-center quantity"> {{ 'quantity' | translate }}</th>
                                        <th class="text-right amount"> {{ 'order.amount' | translate }}</th>
                                        <th class="w-xxs"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detail in order.details">
                                        <td class="text-center"> {{ $index + 1 }}</td>
                                        <td class="text-center"> {{ detail.product.code }}</td>
                                        <td> {{ detail.product.name }}</td>
                                        <td class="text-center"> {{ detail.product.uom.name }}</td>
                                        <td class="text-center"> {{ detail.product.price | number:0 }}</td>
                                        <td class="text-center">
                                            <input class="form-control" ng-model="detail.quantity"
                                                   fcsa-number="{ min: 1, max: 1000000000, maxDecimals: 0}"
                                                   required/>
                                        </td>
                                        <td class="text-right"> {{ getAmount(detail) | number:0 }}</td>
                                        <td class="no-padder col-action">
                                            <button class="btn" ng-click="removeProduct(detail)">
                                                <span class="fa fa-lg fa-remove text-danger"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </form>
        </section>

        <section class="panel panel-default" ng-if="orderCalculated != null">
            <div class="wrapper-sm">
                <order id="order" data="orderCalculated"></order>
            </div>
        </section>

    </div>
</basic-view>
