<basic-view>

    <div class="row title-bar">
        <div class="col-xs-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">

                <!--<div class="row" ng-if="isDisplayDate()">-->
                    <!--<div class="col-xs-12 col-sm-6">-->
                        <!--<div class="form-group">-->
                            <!--<label> {{ 'from.date' | translate }} </label>-->
                            <!--<div class="input-group ui-datepicker">-->
                                <!--<input type="text"-->
                                       <!--class="form-control"-->
                                       <!--datepicker-popup="{{ dateFormat }}"-->
                                       <!--ng-model="fromDate.date"-->
                                       <!--is-open="fromDate.opened"-->
                                       <!--datepicker-options="dateOptions"-->
                                       <!--close-text="{{ 'close' | translate }}"-->
                                       <!--required>-->
                                <!--<span class="input-group-addon" ng-click="open($event, fromDate)">-->
                                    <!--<i class="fa fa-calendar"></i>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-xs-12 col-sm-6">-->
                        <!--<div class="form-group">-->
                            <!--<label> {{ 'to.date' | translate }} </label>-->
                            <!--<div class="input-group ui-datepicker">-->
                                <!--<input type="text"-->
                                       <!--class="form-control"-->
                                       <!--datepicker-popup="{{ dateFormat }}"-->
                                       <!--ng-model="toDate.date"-->
                                       <!--is-open="toDate.opened"-->
                                       <!--datepicker-options="dateOptions"-->
                                       <!--close-text="{{ 'close' | translate }}"-->
                                       <!--required>-->
                                <!--<span class="input-group-addon" ng-click="open($event, toDate)">-->
                                    <!--<i class="fa fa-calendar"></i>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row" ng-if="isDisplayRegion()">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'region.menu' | translate }} * </label>
                            <name-category-combobox
                                ng-model="filter.regionId"
                                ng-change="changeRegion()"
                                datas="regions"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="isDisplayDistributor()">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'distributor' | translate }} * </label>
                            <name-category-combobox
                                placeholder="{{ 'please.select.distributor' | translate }}"
                                ng-model="filter.distributorId"
                                ng-change="changeDistributor()"
                                datas="distributors"
                                required>
                            </name-category-combobox>
                        </div>
                    </div>
                </div>

                <!--<div class="row" ng-if="isDisplaySalesman()">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div class="form-group">-->
                            <!--<label> {{ 'salesman' | translate }} </label>-->
                            <!--<user-combobox-->
                                <!--ng-model="filter.salesmanId"-->
                                <!--datas="salesmen">-->
                            <!--</user-combobox>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row" ng-if="isDisplayCustomer()">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'customer' | translate }} </label>

                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       ng-model="filter.customerName"
                                       disabled>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="clearCustomer()">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button" ng-click="openSelectCustomer()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary" ng-click="export()"> {{ 'export' | translate }} </button>
                    </div>
                </div>

            </div>
        </form>
    </section>

</basic-view>
