<basic-view>

    <div class="row title-bar">
        <div class="col-xs-12">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default wrapper">
        <form name="form">
            <div class="max-w-md margin-auto">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label> {{ 'product.category.title' | translate }} </label>
                            <name-category-combobox
                                placeholder="{{ 'please.select.category' | translate }}"
                                ng-model="filter.categoryId"
                                datas="categories">
                            </name-category-combobox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-primary" ng-click="export()"> {{ 'export' | translate }} </button>
                    </div>
                </div>

            </div>
        </form>
    </section>

</basic-view>
