<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <section class="panel panel-default table-dynamic">

        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12" style="line-height: 34px;">
                    <strong> {{ title }} </strong>
                </div>
            </div>
        </div>

        <div class="my-container">
            <!--BUTTON BAR-->
            <div class="padding-default no-bottom">
                <div class="row">
                    <div class="col-sm-12 col-xs-12" style="text-align: right;">
                        <button type="button" class="btn btn-success" ng-click="save()" ng-show="isChanged">
                            <span class="fa fa-floppy-o"></span>
                        </button>

                        <button type="button" class="btn btn-info" ng-click="refresh()">
                            <span class="fa fa-refresh"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="padding-default">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                <label> {{ 'client.config.default.customer.photo' | translate }} * </label>
                                <vt-single-image ng-model="record.defaultCustomerPhoto"
                                                           ng-change="markAsChanged()">
                                </vt-single-image>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
                                <br/>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                <label> {{ 'client.config.default.product.photo' | translate }} * </label>
                                <vt-single-image ng-model="record.defaultProductPhoto"
                                        ng-change="markAsChanged()">
                                </vt-single-image>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.default.date.format' | translate }} * </label>
                                    <input type="text" class="form-control" ng-model="record.defaultDateFormat"
                                           ng-change="markAsChanged()" required autofocus/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.first.date.week' | translate }} * </label>
                                    <input class="form-control" ng-model="record.firstDayOfWeek"
                                           fcsa-number="{ min: 0, max: 6, maxDecimals: 0}"
                                           required ng-change="markAsChanged()"/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.minimal.days.in.first.week' | translate }} * </label>
                                    <input class="form-control" ng-model="record.minimalDaysInFirstWeek"
                                           fcsa-number="{ min: 1, max: 7, maxDecimals: 0}"
                                           required ng-change="markAsChanged()"/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.number.week.of.frequency' | translate }} * </label>
                                    <input class="form-control" ng-model="record.numberWeekOfFrequency"
                                           fcsa-number="{ min: 1, max: 4, maxDecimals: 0}"
                                           required ng-change="markAsChanged()"/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.number.day.order.pending.expire' | translate }} * </label>
                                    <input class="form-control" ng-model="record.numberDayOrderPendingExpire"
                                           fcsa-number="{ min: 0, maxDecimals: 0}"
                                           required ng-change="markAsChanged()"/>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.import.customer.template' | translate }} * </label>
                                    <vt-single-file
                                            ng-model="record.importCustomerTemplate"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                            required
                                            ng-change="markAsChanged()">
                                    </vt-single-file>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label> {{ 'client.config.import.product.template' | translate }} * </label>
                                    <vt-single-file
                                            ng-model="record.importProductTemplate"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                            required
                                            ng-change="markAsChanged()">
                                    </vt-single-file>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
