<div class="page page-table ng-scope">

    <div ng-class="{'section-loading-overlay':true, 'loaded':(!proccessing || error)}">
        <div class="loader-2"></div>
    </div>

    <div ng-class="{'section-loading-overlay':true, 'loaded':!error}">
        <a href="javascript:;" class="btn btn-primary btn-metro"
           style="position: absolute; top: 50%; left: 50%; margin-top: -90px; margin-left: -90px;" ng-click="refresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="row title-bar">
        <div class="col-sm-9">
            <h3> {{ title | translate }} </h3>
        </div>
    </div>

    <section class="panel panel-default table-dynamic">
        <div class="padding-default">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-github"  style="width: 100%" ng-click="initCache()">
                                <span> {{ 'system.reset.cache' | translate }} </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
